[2014-08-16 10:24] RichiH opened #1 "In WWW overview, `no_connection` should be highlighted"
https://github.com/ytti/oxidized/issues/33

Hosts that don't work are not highlighted and thus are easy-ish to overlook. Please highlight them.

    XXX	YYY	default	no_connection	2014-08-12 07:54:08 UTC	config	update

[2014-08-16 10:25] RichiH opened #2 "Numeric ordering for devices names"
https://github.com/ytti/oxidized/issues/34

The webinterface's ordering seems wrong:

[code]

Wheras it should be ordered like so:

[code]

[2014-08-16 10:38] RichiH opened #3 "Expose log file via web UI"
This could be as simple as offering a page that loads the log file in full and displays it via www.

If the web UI is the preferred way to interact with oxi, it should be possible to look up any errors/warnings in there, as well.

[2014-10-01 21:01] sts opened #4 "User Interface"
I was playing with the frontend code a bit and pulled in bootstrapcss. Thats what I came up with, I wonder what you guys think about it. It features a realtime search as well.

![image](https://cloud.githubusercontent.com/assets/204585/4483079/193cf1f8-49ae-11e4-8e84-30c41b515f6b.png)

[2015-01-13 16:17] sts commented on #4
;-)

[2015-02-14 15:04] nopedial commented on #4
0.2.0 is out on rubygems with the new UI

[2015-02-14 15:04] #4 closed

[2015-02-26 17:57] fhibler opened #6 "Link for update broken, if you use a group"
Demo URL:
http://1.1.1.1:8888/node/next/$group/$device (e.g. http://1.1.1.1:8888/node/next/edge/edgeswitch1)
shows Sinatra error (not found).

URL without group works:
http://1.1.1.1:8888/node/next/$device (e.g. http://1.1.1.1:8888/node/next/edgeswitch1)

[2015-05-19 21:54] tylerapplebaum opened #12 "Accessing the web interface"
Please forgive my ignorance here.

I've got this on the same box as LibreNMS, and oxidized itself is working fine.

ruby      10519     root    9u  IPv4 59343430      0t0  TCP 127.0.0.1:8888 (LISTEN)

What is the default directory or port for oxidized-web?

[2015-05-19 22:01] ytti commented on #12
It should answer in root directory of localhost (127.0.0.1) in port 8888. You can change this with 'rest' configuration directive:

rest: 127.0.0.0:4242

[2015-05-19 22:02] tylerapplebaum commented on #12
Thank you. I'm an idiot...  changed 127.0.0.1 to the local server IP.

[2015-05-19 22:02] #12 closed

[2015-06-18 07:47] darkounet commented on #6
:up:

We have the same problem, tried the @fhibler PR #7  and it WORKS fine !! :+1:

It is possible to accept the PR ?

Thx

[2015-06-18 07:50] #6 closed

[2015-06-18 07:51] ytti commented on #6
Sorry this was my confusion, I somehow thought this was already merged. It's merged now.

[2015-06-18 11:57] darkounet opened #15 "Increment version"
It is possible to upgrade the gem version ?

[2015-06-18 12:21] ytti commented on #15
Not sure what you mean, I think Samer uploaded new gem today?

[2015-06-18 12:26] darkounet commented on #15
the 0.3.0 gem doesn't include the #7 PR

[2015-06-18 12:53] ytti commented on #15
Right, @nopedial can release 0.4.0 as it seems important to you

[2015-06-18 12:59] nopedial commented on #15
Updated

[2015-06-18 12:59] #15 closed

[2015-06-18 13:18] darkounet commented on #15
you made my day :)

[2015-06-24 09:51] darkounet opened #16 "Timezone for lastUpdate"
It is possible to add a field to specify the timezone for the Last Update ?

[2015-06-24 10:22] ytti commented on #16
It's right now UTC, which I feel is the correct solution. The moment you have devices in over 1 TZ, nothing else seems sensible.

But I'd be happy to accept pull request for javascript/UI based mangling of timestamp, so browser could change it, and perhaps use cookie to in next session.
I don't think we should have option to have other than UTC in data structures, presentation is ok.

[2015-07-04 20:57] jwhited opened #18 "unable to fetch node when using groups"
/node/fetch/groupName/nodeName returns "node not found"
/node/fetch/nodeName also returns "node not found"

After removing group from map, node's config is returned from /node/fetch/nodeName

[2015-07-05 06:57] jwhited commented on #18
`single_repo: true` is the cause. No handling for this with groups currently

[2015-07-05 23:11] jwhited commented on #18
https://github.com/ytti/oxidized/issues/143

[2015-07-05 23:11] #18 closed

[2015-08-05 15:12] casdr opened #20 "[Migration] Wildcards in .cloginrc"
Hi,

I'm using wildcards for authentication in .cloginrc, example:

[code]

It would be great if this could work with the migration tool.

[2015-08-05 17:17] ytti commented on #20
@FlorianDoublet

I had this in one project, which supports globs for cloginrc.

[code]

[2015-08-05 17:22] itscassa commented on #20
That looks interesting. Where do I have to place it?

[2015-08-05 17:24] ytti commented on #20
Sorry, I wasn't being very clear. I more intended it to @FlorianDoublet, as he wrote the migration tool. You can't add the file anywhere, similar logic, mainly File.fnmatch(glob, target) would need to be added in the migration tool.

[2015-08-05 17:25] itscassa commented on #20
Ah, thought so. @FlorianDoublet keep me updated. Will try to fix it myself and contribute it back too when I'm back at the office.

[2015-08-06 14:19] FlorianDoublet commented on #20
Hi @itscassa, the problem is that i'm not in a company anymore, i'm still a student, and then for the moment I can't test oxidized on anything in my home..

[2015-09-03 20:58] jthunt opened #24 "Hiding enable password (vars)"
Just a suggestion, but the enable password should probably be hidden on the web frontend.

[2015-09-03 22:58] ytti commented on #24
Or perhaps it should have access levels, so that not everyone can pull node information.

[2015-09-04 02:55] etern4ever commented on #24
That would work.  Just need a way to identify users then.   Currently, I am thinking about binding oxidized-web to localhost and using nginx with ldap to support user login then proxy the connection to localhost.

Something built in would be better.

[2015-09-23 06:33] twindh opened #31 "Columns disappears after page reload"
I select IP in the Hide/Show Columns select-list, the IP column shows up.
If I click the Refresh button in the UI or F5 in the browser the IP columns disappears again.

Would have been nice if this setting is saved somewhere permanently.

[2015-09-23 06:35] tobiasa1 commented on #3
I like the idea to allow both syslog and file simultaneously.

[2015-09-23 15:39] ytti commented on #3
Yeah we need to return file logging support. Especially for dockerized installs it's more prudent to log to file (STDOUT).

[2015-09-30 09:21] nickhilliard opened #32 "Relative URI"
the web interface is hardcoded to be located at /

It would be v. handy to have the base URI as a configurable option, because this would allow integration into an existing web site framework using proxying.

[2015-09-30 13:51] ytti commented on #32
I don't think it actually is.
https://github.com/ytti/oxidized-web/blob/master/lib/oxidized/web.rb#L11
https://github.com/ytti/oxidized-web/blob/master/lib/oxidized/web.rb#L21

The routes should be relative to that URI.

[2015-09-30 13:54] gbbromley opened #33 "Ability for "Search in confs" to support regex searches within configurations"
Currently when using the "Search in confs" button the search terms doesnt appear to support regex. So a search for ^ip http server will return no results, but ip http server returns results for ip http server and also no ip http server.

This limits the usefulness of the search in confs function to generalistic searches, rather than specific searches to identify defective devices.

Coudl we get a

[2015-10-08 19:50] jalmargyyk opened #34 "update gemspec runtime dependencies"
sinatra and sinatra-contrib need to be updated to use at least version 1.4.6 as commit afa6e9f changes require of sass and haml to be from tilt.

[2015-11-24 23:57] masonke opened #37 "How to use?"
I must be blind, were is the installation, config and startup information?

[2015-11-25 21:57] ytti commented on #37
Documentation is lacking for sure.

Have you read the README.md at https://github.com/ytti/oxidized

[2015-11-25 22:56] masonke commented on #37
I had read it, but it looks like enabling REST also enables the web page?

~KEM

[2015-11-25 23:33] masonke commented on #37
Total noob question. Where are the actual configs stored when using Output: Git?  When I used File, the actual config files were available. Is it the same with GIT?

My repo is locate on /data/oxidized/devices.git, the source is Librenms.

Any ideas?

/etc/oxidized/config
model: ios
interval: 3600
log: /data/oxidized/log
debug: false
threads: 30
timeout: 20
retries: 3
prompt: !ruby/regexp /^([\w.@

[2015-11-26 00:10] ytti commented on #37
The actual configs should be in /data/oxidized/devices.git as git repo, you can check it out somewhere

[code]

and update
[code]

And yes, enabling web page is done by enabling rest.

[2015-11-30 16:49] murrant opened #38 "ArgumentError at /node/version"
I'm using groups and I get this error when clicking on versions.

[code]

[2015-11-30 18:08] ytti commented on #38
On 30 November 2015 at 18:49, Tony Murray <notifications@github.com> wrote:

​Do you have the backtrace?
​

--
  ++ytti

[2015-12-01 07:09] murrant commented on #38
Sorry, got cut out of my silly attempt to copy and paste:

/usr/local/lib64/ruby/gems/2.0.0/gems/oxidized-web-0.5.2/lib/oxidized/web/views/versions.haml in count
41.      - nb = @data.count + 1

/usr/local/lib64/ruby/gems/2.0.0/gems/oxidized-web-0.5.2/lib/oxidized/web/views/versions.haml in block in singleton class
41.      - nb = @data.count + 1

/usr/local/lib64/ruby/gems/2.0.0/gems/tilt-2.0.1/l

[2015-12-01 09:23] ytti commented on #38
Are you using 'file' output, instead of 'git'? We don't support 'version' for file. But the error message should be better.
In git version it now shouldn't puke, just shouldn't print anything.

Not sure what we should do for 'file', as they don't really have concept of version. Perhaps timestamp of a file, but currently we always overwrite the file. So then we'd need to compare first if it changed

[2015-12-01 14:25] murrant commented on #38
No, I'm using the git output.  https://fnpaste.com/AYJJ

[2015-12-01 16:40] cchance27 opened #39 "no useable nodes"
I can't for the life of me figure this out i'm getting returned the correct info from librenms, but oxidized refused to start running it just says no usable nodes... please help

curl -H 'X-Auth-Token: xxxxxxxxxxxxxxxxxxxxxxxxxxc' http://127.0.0.1/api/v0/oxidized
Returns the following....

[
    {
        "hostname": "ofcswitch-1",
        "os": "xos"
    },
    {
        "hostname": "ofcswitch-1"

[2015-12-01 17:48] ytti commented on #39
My first guess is that it can't resolve either of the names, and ends up with 0 nodes.

[2015-12-01 19:13] precompiled commented on #38
Can you please exclude me from your conversation, it has nothing to do with
me? Thanks

On Tuesday, 1 December 2015, Tony Murray <notifications@github.com> wrote:

[2015-12-01 20:00] murrant commented on #38
Not sure how you got on here precompiled.  You'll have to go to github issue and click the unsubscribe button. https://github.com/ytti/oxidized-web/issues/38

[2015-12-01 20:18] precompiled commented on #38
Ok, I'm out, but if you reply to mail, I'll get message again.

On Tue, Dec 1, 2015 at 9:01 PM, Tony Murray <notifications@github.com>
wrote:

[2015-12-01 21:24] cchance27 commented on #39
I have them hardcoded into /etc/hosts and librenms contacts the same
devices by the same names resolving so its not that

My first guess is that it can't resolve either of the names, and ends up
with 0 nodes.

—
Reply to this email directly or view it on GitHub
<https://github.com/ytti/oxidized-web/issues/39#issuecomment-161045595>.

[2015-12-01 21:45] ytti commented on #39
I wonder if we even use /etc/hosts, we probably don't.

Can you try IP addresses only?

Do you have anything in syslogs? I think it might complain there.

[2015-12-27 16:03] supertylerc opened #40 "Preserve Spacing for Configs"
The web interface currently does not preserve spacing for the configs.  This causes the display of configurations to look confusing.  Here's an example screenshot:

![oxidized-web-no-whitespace](https://cloud.githubusercontent.com/assets/4076147/12010947/19e40b7a-ac70-11e5-8601-8758fbe7f23d.PNG)

Additionally, the font should be monospaced to allow for easier reading.

[2015-12-28 03:10] supertylerc opened #42 "Streamline UI"
Sometimes I want to search the configs from places other than the nodes page.  Also, migrating RANCID configs seems more suited to being in a navbar.

[2015-12-28 03:19] supertylerc opened #44 "Missing Stats Link"
A link to the stats page is missing.  It can be manually accessed at the `/nodes/stats` URI.  Additionally, although this page exists, it doesn't appear to follow the newer UI style of other pages.

[2015-12-28 04:28] supertylerc opened #46 "Improve Template Readability"
The HAML templates do not make use of some HAML features that improve the readability of the templates.  At a minimum, the templates should be updated to:

* Use Ruby 1.9 hash symbol syntax
* Use implicit `div` tags
* Use shorthand `class` syntax
* Use shorthand `id` syntax

[2015-12-28 04:36] supertylerc commented on #46
I plan on working on this, but I strongly suspect there will be merge conflicts with the 3 PRs I have open right now: #41, #43, and #45.  I'll start work on this once those three are merged.

[2015-12-28 04:45] supertylerc opened #47 "Provide More Stats"
Currently, the stats page (`/nodes/stats`) only provides the last failure, and only for nodes that have failed.

Looking at the JSON response, it seems we could also provide the following stats:

* Total number of failures
* Percentage of failures
* Average time to run
* Last successful run

[2015-12-28 04:46] supertylerc commented on #47
I'll start on this once #40, #42, #44, and #46 are closed out.

[2015-12-28 04:47] supertylerc opened #48 "Poor Mobile Experience"
Although Bootstrap is used, the mobile experience is poor.  The way the UI is written, it does not detect mobile devices and adjust accordingly.

[2015-12-28 05:08] supertylerc commented on #37
Can this be closed?  I'm looking to contribute, and closing old issues that are resolved would help me identify what still needs work.

Thanks!

[2015-12-28 05:13] supertylerc commented on #39
@cchance27, are you still having this problem?  If so, could you please paste your config with proper formatting?  YAML is extremely picky about formatting, and bad formatting might cause an issue.  Unfortunately, it's hard to tell from the output you've pasted.

Also, this bug should be filed against [ytti/oxidized](https://github.com/ytti/oxidized) since it actually doesn't have anything to do w

[2015-12-28 05:14] supertylerc commented on #38
@murrant, is this still an issue?  If it is, I'll set up a clean environment later this week using groups and see if I can replicate the issue.

[2015-12-28 05:31] supertylerc commented on #33
Hi, @gbbromley.  Not sure if this is something for which you are still looking, but #50 implements this feature.

Thanks!

[2015-12-28 05:32] supertylerc commented on #32
@nickhilliard, is this still an issue?  If so, could ou give an example web framework using proxying that I could use to replicate the issue?

Thanks!

[2015-12-28 05:38] supertylerc commented on #31
@ytti, would you be opposed to enabling sessions and storing the desired columns in a session variable?

@tobiasa1, this would sort of solve your problem.  You would have to reselect the columns during each new sessions, but the selection would persist across sessions.  The only alternative (to make it truly permanent) is to store the columns desired in a database, but since it looks like `oxidize

[2015-12-28 05:42] supertylerc commented on #1
@RichiH, in my current install, `no_connection` is highlighted.  See screenshot below.

![no-connection-highlight](https://cloud.githubusercontent.com/assets/4076147/12014493/abd20984-ace2-11e5-8825-00a28f87c5d4.PNG)

Can this issue be closed, or is it still a problem when running the latest `oxidized-web`?

[2015-12-28 06:17] RichiH commented on #1
Looks good, can be closed.

Thanks,
Richard

Sent by mobile; excuse my brevity.

[2015-12-28 07:59] supertylerc commented on #3
Can the discussion of logging to a file be moved to [ytti/oxidized](https://github.com/ytti/oxidized)?

Once that is implemented, I can look into displaying the logs in the web UI.

[2015-12-28 10:19] supertylerc commented on #16
@darkounet @ytti, #51 automatically converts the timezone in the web UI.  It relies on the browser reporting the correct timezone and the server being set to UTC.

[2015-12-28 10:55] nickhilliard commented on #32
nope, not an issue. oxidized config as follows:

[code]
Apache config:

[code]
works great.

[2015-12-28 10:55] #32 closed

[2015-12-28 12:36] #40 closed

[2015-12-28 12:37] #42 closed

[2015-12-28 12:37] #34 closed

[2015-12-28 12:37] #33 closed

[2015-12-28 12:42] ytti commented on #31
Honestly majority of oxidized-web is not my work by now. I'd be happy to have someone opinionated and clued-up shepherd it.

I think sessions sound great.

[2015-12-28 17:33] murrant commented on #38
Yes, it is still occurring.  FYI, I am using this branch of librenms: https://github.com/murrant/librenms/tree/oxidized_groups

[2015-12-28 18:00] #44 closed

[2015-12-28 19:45] #16 closed

[2015-12-28 20:25] #1 closed

[2015-12-28 20:30] supertylerc commented on #46
The four points mentioned have been addressed.  I'm looking at other ways of improving readability now.

[2015-12-28 23:42] precompiled commented on #38
please exclude me from this conversation

On Mon, Dec 28, 2015 at 6:33 PM, Tony Murray <notifications@github.com>
wrote:

[2015-12-29 00:34] supertylerc opened #52 "Fix Pessimistic Sinatra Dependency"
Unknowingly introduced in 4ae7a5e.
[code]

[2015-12-29 01:03] supertylerc opened #55 "Use Bootstrap Components and CSS"
There are some elements that unnecessarily use custom CSS (most strikingly, the refresh button).  This should be changed to use the Bootstrap CSS and components where possible.

Tables should be updated to use additional classes, such as `table-condensed`, `table-hover`, and `table-striped`.

[2015-12-29 07:50] supertylerc opened #57 "Add Sorting to Stats Page"
The stats page called a non-existent sort function on the table.  That is removed in f90f0ea.  A functioning sort mechanism should be added.

[2015-12-29 07:52] supertylerc opened #58 "Redesign Migration Page"
The UI for the migration page does not currently fit with the UI of the rest of the web interface.  It should be updated to match the rest of the UI.

[2015-12-29 14:36] murrant commented on #38
@precompiled  we cannot, it is automated emails.  You removed yourself last time, but then you replied to the email and re-added yourself...  You will have to remove yourself again.  I'm sorry you got added initially, it was due to me pasting the large text in and it had an @ reply with your username.

[2015-12-29 14:44] precompiled commented on #38
Then please fix this issue asap :)

On Tuesday, 29 December 2015, Tony Murray <notifications@github.com> wrote:

[2015-12-29 23:08] supertylerc commented on #58
I've rewritten the UI for the migration page and updated the JavaScript.  It just needs to be tested to ensure its interaction with the API still works as expected.  Screenshot below.

![new-migration-page](https://cloud.githubusercontent.com/assets/4076147/12043849/fe5576f8-ae3d-11e5-8be3-8615b03fe112.PNG)

[2015-12-30 04:38] supertylerc commented on #38
@murrant, I've confirmed the issue.  I believe it is because the `GET` is using the following parameter:

[code]

A forward slash isn't valid in a parameter (it's a path separator) and must be escaped (`%2F` is the URI escape character for `/`).

However, the better approach is probably to add a `group` parameter as specifying the group actually isn't mandatory.  So the path and parameters would l

[2015-12-30 04:42] supertylerc commented on #38
I lied.  Don't think that's the cause.  :)  Still digging.

[2015-12-30 05:20] supertylerc commented on #38
@murrant:

As a temporary workaround, you can set the `groups` hash to an empty hash (either remove it or manually set `groups: {}`).  Oxidized will still set the correct group.  I'm looking into a permanent fix.

[2015-12-30 06:36] supertylerc commented on #38
Found the line that causes the issue.  [See here](https://github.com/ytti/oxidized/blob/master/lib/oxidized/input/ssh.rb#L24).  Removing `vars(:ssh_port)` resolves the issue.  Inspecting it when setting groups reveals this:

[code]

Inspecting it when not using groups:

[code]

Still digging into a fix, but at least I know what's happening now.  :)

[2015-12-30 06:53] supertylerc commented on #38
Commenting out [this line](https://github.com/ytti/oxidized/blob/master/lib/oxidized/config/vars.rb#L6) also resolves the issue.  I'm going to look into fixing that.

[2015-12-30 07:23] supertylerc commented on #38
This will be fixed by ytti/oxidized#253.  Note that you'll need to manually build the gem and install it until a new gem is published.

[2015-12-30 13:40] #52 closed

[2015-12-30 13:40] #46 closed

[2015-12-30 13:41] #47 closed

[2015-12-30 13:42] ytti commented on #58
Looks good to me.

[2015-12-30 13:42] #58 closed

[2015-12-30 13:45] ytti commented on #38
Mr precompiled was added here, because the original ticket contained atprecompiled, I guarded the original ticket in backticks, so we likely are not spamming him anymore.
Apologies if he is still following.

[2015-12-31 02:46] supertylerc commented on #39
Bug confirmed.

[2015-12-31 02:52] supertylerc commented on #39
I'm moving this to ytti/oxidized where it belongs.

[2015-12-31 03:06] supertylerc commented on #39
Closing as a duplicate of ytti/oxidized#255.

[2015-12-31 03:06] #39 closed

[2015-12-31 03:52] supertylerc commented on #39
@cchance27:

I initially thought I was able to reproduce this, but I was not.  A working configuration is referenced at the end of ytti/oxidized#255.

If you continue to have issues, please:

* Try the same devices using the CSV source
* Reopen this issue if the CSV source works but HTTP does not
* Paste your config in code tags here
* Turn on debug logs
* Paste the output of `gem list --local oxi

[2015-12-31 13:43] supertylerc commented on #48
After a bit of work, here's two screenshots (one with and without the menu expanded) of the new mobile interface:

![mobile ui menu expanded](https://cloud.githubusercontent.com/assets/4076147/12064808/43aa7e6c-af81-11e5-9ee7-ea0f0e8b864f.PNG)

![mobile ui no menu](https://cloud.githubusercontent.com/assets/4076147/12064810/4b6cc650-af81-11e5-856d-e762722860b9.PNG)

I'll probably submit and merge

[2015-12-31 13:46] supertylerc commented on #20
@casdr: did you get this working?  If so, would you mind submitting a PR for it?  Thanks!

[2015-12-31 13:49] casdr commented on #20
@supertylerc Unfortunately not, I copy-pasted the credentials instead

[2015-12-31 21:33] ytti commented on #20
I have mixed feelings for this. I personally imagine companies have some source of device information, HTTP or SQL, and they can use that directly, i.e. the original truth source, so to avoid maintaining multiple places.
But I guess for some people the authority is .cloginrc? And no where else is this information available?

If there is some truth source, which we currently cannot use, then I'm mo

[2015-12-31 22:26] supertylerc commented on #20
The bigger problem in my (very brief) testing is that you can't import a RANCID `router.db` without the `.cloginrc` file.  I spent a lot of time trying to figure out why my RANCID migration was failing.  So if my RANCID `router.db` looks like this:

[code]

And my `.cloginrc` only has an entry for `rtr1.example.com`, then my resulting Oxidized `router.db` will not have an entry for `rtr2.example.c

[2016-01-01 00:36] supertylerc opened #60 "Stats Page Broken"
A bug in the stats page is causing a stack trace. It did not present until I did a fresh install. The fix should be easy. I've tested it locally against a fresh install and it seems to work fine. More testing and then I'll submit.

[2016-01-01 01:07] #48 closed

[2016-01-01 01:35] #60 closed

[2016-01-01 01:59] #57 closed

[2016-01-01 03:55] #55 closed

[2016-01-01 04:21] supertylerc commented on #2
There are a lot of ways you can look at this.  You can argue that the order should be as you stated, but maybe I prefer the sorting to be in "reverse" order.  In other words, I want to sort by the root down to the leaf.  This would make your example look like this:

[code]

This has obvious benefits: you could group devices by location if you're using subdomains.  Example list:

[code]

By your de

[2016-01-01 04:27] supertylerc commented on #2
And sorting by root has its own problems--if you're using IP addresses instead of hostnames (because you don't have the DNS infrastructure or some other reason), sorting by root won't work because it was sort IPs by their last octect, which is the reverse grouping of root-based hostname sorting.

[2016-01-01 05:17] supertylerc opened #65 "Add Code Climate and Rubocop"

[2016-01-01 05:18] supertylerc opened #66 "Document API"

[2016-01-01 05:19] supertylerc opened #67 "Ensure API is Consistent"
API should not conditionally return attributes.  It should return all attributes, even if they are empty.

This is a potentially breaking change if others are relying on attributes being absent.

[2016-01-01 05:19] supertylerc opened #68 "Fix Any Code Climate Issues"

[2016-01-01 06:27] supertylerc commented on #65
Closed by #69 #70 #71 and #72.

[2016-01-01 06:27] #65 closed

[2016-01-01 06:30] supertylerc opened #73 "Refactor Time Conversion JavaScript"
Related to #68.

Rewrite time conversion code in `lib/oxidized/web/public/scripts/oxidized.js` to be in its own function.

[2016-01-01 06:48] #73 closed

[2016-01-01 07:01] supertylerc opened #75 "Convert to Ruby 1.9 Hash Syntax"
Related to #68.

Change all hashes to new Ruby 1.9 syntax.

[2016-01-01 07:23] supertylerc commented on #75
Closed by #76.

[2016-01-01 07:23] #75 closed

[2016-01-01 07:29] supertylerc opened #77 "Prefer Single Quotes"
Related to #68.

Prefer single quotes over double quotes when interpolation is not necessary.

[2016-01-01 07:58] #77 closed

[2016-01-01 08:01] supertylerc opened #79 "Fix Spacing Issues"
Related to #68.

Fix spacing issues.

[2016-01-01 08:32] #79 closed

[2016-01-01 08:49] RichiH commented on #2
As is see all of them as valid, why not just toss a sorting function in
there and let the user click through them as well as configure a default?

[2016-01-01 09:35] supertylerc commented on #2
Unfortunately, it isn't quite that easy.  The sorting is handled by a JavaScript library called [DataTables](http://datatables.net).  The way the sorting works is by defining a type and applying that type to a column.  You then sort by using either the built-in sorters or by writing a sorting plugin.

A plugin exists for the IP address type, but not for the root-to-leaf hostname  sorting.  A plugi

[2016-01-01 10:08] supertylerc commented on #68
I'll close this one out once #81 is closed.  We'll follow up with specific refactors of `mig.rb` and later `webapp.rb` later.

[2016-01-02 08:09] supertylerc opened #82 "Document `GET /nodes`"
Related to #67.

The `GET /nodes` endpoint should be documented.

[2016-01-08 13:52] fhibler opened #84 "Crash after installing/enabling oxidized-web"
2016-01-07 10:52:36 - SyntaxError - /home/oxidized/.gem/ruby/gems/oxidized-web-0.6.0/lib/oxidized/web/views/layout.haml:9: syntax error, unexpected ':', expecting =>
'data-toggle': 'collapse',
              ^
/home/oxidized/.gem/ruby/gems/oxidized-web-0.6.0/lib/oxidized/web/views/layout.haml:9: syntax error, unexpected ',', expecting tSTRING_DEND
/home/oxidized/.gem/ruby/gems/oxidized-web-0.6.0/li

[2016-01-08 16:54] supertylerc commented on #84
Was this installed via RubyGems or via the repository?

[2016-01-08 17:19] ytti commented on #84
Right now they should be same, with 0.6.0.

[2016-01-08 17:26] supertylerc commented on #84
Thanks. Didn't realize there was a version bump. :D

I'll look at a fix today.

[2016-01-09 00:12] tylerapplebaum opened #85 "Lock down web access?"
How do I lock down this page? I don't want any random internal user to be able to pull of these device configs. Really, I only need to access the configs through the LibreNMS page (which is working great by the way!)

![image](https://cloud.githubusercontent.com/assets/8419153/12212735/787d642c-b622-11e5-8287-3577a080ca3f.png)

[2016-01-09 00:22] ytti commented on #85
Sorry, I have no idea what is going on here.

If LibreNMS is fetching configs through Oxidized API, then wouldn't it be sufficient that you create some nftables rule to only allow LibreNMS machine to connect?

I guess you can't just shutdown the webinterface of Oxidized, if LibreNMS uses it.

What do you think how this should work? What is your expectations? How do you think LibreNMS should be abl

[2016-01-09 00:24] masonke commented on #85
I was running across this also. Is there a way to put some authentication on the page, even if it used the unix accounts on the box, or a local file?
~KEM

[2016-01-09 00:28] ytti commented on #85
Does LibreNMS support providing access credentials towards Oxidized?

Please excuse my ignorance, I've not used LibreNMS. Currently I imagene LibreNMS integrates with Oxidized, uses its API to show configs of devices, this may be ways off. But under this assumption, we have to assume that the main thing to satisfy is that LibreNMS has to have access to Oxidized.

After we've satisfied that, we can

[2016-01-09 00:31] laf commented on #85
LibreNMS connects directly to the API, if that used authentication built into the Oxidized WebUI then we'd struggle, if it was something like basic auth or passing an API key over then we can do that easily enough.

[2016-01-09 00:39] masonke commented on #85
How about an option to disable the web page and only expose the api?
~KEM

[2016-01-09 00:46] ytti commented on #85
Let's work on premise that API and web page are different things, they are not, but let's entertain that for a moment.

If we shutdown web page access, and only allow global API access. How have we made things better? Arbitrary user can still reach the API and get the data.

If my suggestion of nftables (iptables for the guys's rocking to 80's) is not acceptable (why not), and if my suggestion of

[2016-01-09 00:51] supertylerc commented on #85
@masonke, this isn't currently possible. Even if it were, a user could just as easily curl the configs to get them.

@laf, I don't think that token authentication is built into oxidized-web yet. I think the current practice is to proxy using nginx, Apache, or the like and handle authentication there as @ytti mentioned. This would let you use HTTP basic auth.

That's probably a "good enough" soluti

[2016-01-09 01:04] masonke commented on #85
Sounds good to me
~KEM

[2016-01-09 05:26] tylerapplebaum commented on #85
Absolutely. Thanks guys!

[2016-01-09 12:54] ytti commented on #84
Is this same as ytti/oxidized#261

[2016-01-09 16:45] supertylerc commented on #84
This looks like it's an issue specifically with Ruby 2.1 and earlier.  With Ruby 2.2.3 and 2.3.0, this is working as expected.  When I switch to 2.1.7, though, I'm seeing the same issue.

[2016-01-09 16:53] ytti commented on #84
With commit provided, I'll release 0.6.1 immediately.

[2016-01-09 17:06] supertylerc commented on #84
@ytti, see #86 for the fix.

@ytti, @fhibler, @alpern95: sorry for introducing the bug.  :(  I'll be sure to also test Ruby 2.0 and 2.1 in the future.

[2016-01-09 17:16] supertylerc commented on #84
Just because:

[code]

[2016-01-09 17:28] supertylerc commented on #84
See these Ruby feature requests (and related requests/bugs/commits) for when the changes that allow this to work in Ruby 2.2 and up:

https://bugs.ruby-lang.org/issues/4935
https://bugs.ruby-lang.org/issues/4276

[2016-01-09 17:32] supertylerc commented on #84
#86 has been merged.  A new gem can be cut and pushed.

[2016-01-09 18:55] ytti commented on #84
Realised I can't publish 0.6.1, after about 1200days of uptime neglect, my server is down, and I've moved few thousands kilometers from it, so might be bit challenging to get it up during the weekend.

[2016-01-09 19:23] supertylerc commented on #84
@fhibler @alpern95:

Temporary workaround (until 0.6.1 is cut):

* Clone this repository (`git clone https://github.com/ytti/oxidized-web`)
* Build the gem (`rake build`)
* Install the gem (`gem install --no-ri --no-rdoc gems/oxidized-web-0.6.0.gem`)

You can leave off the `--no-ri` and `--no-rdoc` if you really want to.

[2016-01-09 19:31] supertylerc commented on #66
Instead of working on this, I've elected to start on a rewrite (or a fork, if a rewrite isn't desired) that introduces testing, allows the API to be split from the frontend UI, standardizes and extends the API responses, and introduces a few new features such as authentication tokens.  It's currently nowhere near ready for use, but I think my efforts would be better spent there than working on new

[2016-01-09 19:31] #66 closed

[2016-01-09 19:31] supertylerc commented on #82
Instead of working on this, I've elected to start on a rewrite (or a fork, if a rewrite isn't desired) that introduces testing, allows the API to be split from the frontend UI, standardizes and extends the API responses, and introduces a few new features such as authentication tokens.  It's currently nowhere near ready for use, but I think my efforts would be better spent there than working on new

[2016-01-09 19:31] #82 closed

[2016-01-09 19:31] supertylerc commented on #68
Instead of working on this, I've elected to start on a rewrite (or a fork, if a rewrite isn't desired) that introduces testing, allows the API to be split from the frontend UI, standardizes and extends the API responses, and introduces a few new features such as authentication tokens.  It's currently nowhere near ready for use, but I think my efforts would be better spent there than working on new

[2016-01-09 19:31] #68 closed

[2016-01-09 19:32] supertylerc commented on #67
Instead of working on this, I've elected to start on a rewrite (or a fork, if a rewrite isn't desired) that introduces testing, allows the API to be split from the frontend UI, standardizes and extends the API responses, and introduces a few new features such as authentication tokens.  It's currently nowhere near ready for use, but I think my efforts would be better spent there than working on new

[2016-01-09 19:32] #67 closed

[2016-01-09 19:34] supertylerc commented on #85
@masonke, @tylerapplebaum, and @laf, I'm going to close this as it sounds like the solutions presented herein are acceptable.  Please reopen if your concerns are not addressed.

[2016-01-09 19:34] #85 closed

[2016-01-09 20:20] supertylerc commented on #37
@masonke, any update on whether or not this can be closed?

[2016-01-09 21:04] masonke commented on #37
Please close.

I thought I had already, my apologies
~KEM

[2016-01-09 21:29] #37 closed

[2016-01-10 09:33] ytti commented on #84
fixed by ytti/oxidized-web@d63989e

oxidized-web has been released

[2016-01-10 09:33] #84 closed

[2016-01-14 18:37] justinjahn opened #87 "Query Supported Models"
Is there a way to query for a list of available models?  I'm working on a web-based way to manage the node list, and it would be great if one could validate the model before adding it to the database.

Thanks!

[2016-01-14 18:42] ytti commented on #87
This is currently not possible. We load the models runtime based on which models are needed.

I'm open to including API which iterates model directories and returns models. But won't do it myself.

[2016-01-14 18:46] justinjahn commented on #87
Fair enough.  I'll look into it, and see if I can help.

[2016-01-14 18:46] #87 closed

[2016-01-18 13:29] stefanplug opened #88 "Reload api does not work"
oxidized (0.10.0, 0.4.1)
oxidized-script (0.1.1)
oxidized-web (0.6.1, 0.6.0)

When I run:
curl http://localhost:8888/reload
I get:
Errno::ENOENT: No such file or directory - /home/oxidized/.gem/ruby/gems/oxidized-web-0.6.1/lib/oxidized/web/views/default.haml
This file indeed does not exist.

full error:
Errno::ENOENT: No such file or directory - /home/oxidized/.gem/ruby/gems/oxidized-web-0.6.1/lib

[2016-01-18 14:32] ytti commented on #88
391481afd7be broken this @supertylerc was this intentional, i.e. should we return something else on 'reload'?

[2016-01-18 16:28] mikebryant commented on #88
As a workaround, you can do `curl 'http://localhost:8888/reload?format=json'`

[2016-01-18 17:16] stefanplug commented on #88
Workaround works, many thanks!

[2016-01-18 17:28] supertylerc commented on #88
Apologies for missing this. There's not a link to it that I can find from the web interface, thus it is sort of "hidden." I suspect it is similar to the /stats route that I also fixed and added a link for.

I think this is the only thing that references default.haml. Nothing else did, which is why it was removed. I'll fix this in the next day or two. I'll also add a link to reload via the web UI.

[2016-01-18 17:43] ytti commented on #88
No worries, impossible to clean stuff without breaking stuff. Or at least exponentially more expensive to approach 100%.

[2016-01-18 21:49] murrant commented on #38
I am still having this issue with Oxidized-0.10.0 and Oxidized-Web-0.6.1.

[2016-01-19 04:54] supertylerc commented on #38
@murrant, I'm unable to reproduce. Can you please provide your full Oxidized config with indentation preserved? Also, please confirm if you experience this issue when using a CSV instead of a LibreNMS branch.

Thanks!

[2016-01-19 17:44] murrant commented on #38
I have been using CSV, also LibreNMS has mainline group support now (different from that branch) You should also note, that I use single_repo.
[code]

[2016-01-20 02:13] asepkampak opened #89 "grouping device"
hai, i want to ask, how to make grouping device on oxidized for example based on location, all my device now belonging default group. please some advice.

[2016-01-20 08:55] ytti commented on #89
Are you using CSV source, like router.db? Then you'll need something like this

[code]

And your router.db then should be like

[code]

[2016-01-21 07:23] asepkampak commented on #89
thanks its work  :+1:

[2016-01-21 09:55] #89 closed

[2016-01-22 02:32] supertylerc commented on #38
@murrant, I can't properly reproduce this issue and begin investigation until you provide your full Oxidized configuration.  Please also provide a sample of your CSV file.

Thank you!

[2016-01-22 02:35] supertylerc commented on #88
Very busy the past few days, so this slipped by me.  I'm working on it now and should have a fix merged by the end of tonight.

[2016-01-22 02:48] supertylerc commented on #88
@stefanplug @mikebryant @ytti see #90 for a fix.  Ultimately, I plan on making the "reload" API reachable from within the Web UI as well.  This is a fix until I get to that (possibly this weekend).

I'll merge the PR tomorrow morning if there are no objections to the implementation (and if @ytti hasn't merged it by then).

[2016-01-22 04:15] asepkampak opened #91 "converting UTC on web bug."
oxidized-web-0.6.0
oxidized-script-0.1.1
oxidized-0.9.0

converting time UTC in web UI only work on first page, the next page still showing UTC.

![page 1](https://cloud.githubusercontent.com/assets/16773415/12502252/111f5a1a-c0f9-11e5-8e13-8c75e516df8b.png)
![page 2](https://cloud.githubusercontent.com/assets/16773415/12502256/17011298-c0f9-11e5-8f3f-21f27e6dccdf.png)

[2016-01-22 04:25] supertylerc commented on #91
I don't have enough nodes in my lab to test this, but I think the fix would be easy. Probably just an on click event listener that will convert the time. I'll look into it this weekend and change the number of elements for pagination to a really low number so I can test it properly.

[2016-01-22 07:48] asepkampak commented on #91
im sorry, where i can find event listener?

[2016-01-22 08:09] emjemj opened #92 "Add button to reload node file in web gui"
It would be nice to have a button in the web UI to re-read the node file (router.db or similar) in the web gui (call to /reload).

[2016-01-22 11:44] ytti commented on #92
Yeah, it was there. I think @jalmargyyk's webrework accidentaly removed it. @supertylerc is readding it.

[2016-01-22 14:51] supertylerc commented on #88
#90 has been merged, which will fix the raised exception. You can cut a gem from master to have the fix.

[2016-01-22 14:52] supertylerc commented on #92
Yup! See #88 for a little background. Should be done some time this weekend.

[2016-01-24 19:50] supertylerc commented on #91
@asepkampak an event listener/handler in JavaScript.  I've pushed a change to my fork, but I left my laptop at work Friday, so I can't test anything until tomorrow Night.

I'll try to test tomorrow and submit a PR with the appropriate changes.

[2016-01-24 20:33] supertylerc commented on #92
I think I have this working, but I left my laptop (which has my full lab/testing setup on it) at work on Friday, so I can't really test until Monday night.  But I've pushed a branch to my fork that should implement this feature.  Once I can test it Monday night, I'll submit the PR.  Sorry for the delay!

[2016-01-24 20:33] supertylerc commented on #91
Sorry for the delay caused by me leaving the lab laptop at work, but hopefully it's not too long.

[2016-01-24 20:35] supertylerc commented on #88
Closing as #90 has been merged and #92 addresses the desired UI implementation.

[2016-01-24 20:35] #88 closed

[2016-01-24 20:37] supertylerc commented on #38
@murrant a current stack trace will also help.

[2016-01-26 02:18] asepkampak commented on #91
after i adding script, the page still showing UTC.
![utc](https://cloud.githubusercontent.com/assets/16773415/12570819/b4c901ea-c40d-11e5-95e8-92f0b851736d.png)

sorry @supertylerc always make you busy. :)

[2016-01-26 04:35] supertylerc commented on #92
Just tested this.  Opened #93 to implement it.

[2016-01-26 05:00] supertylerc commented on #91
Hi, @asepkampak!  Please don't be sorry.  This software is better because of bug reports and help!

Now that I have my laptop which has my lab setup on it, I've been able to test and have found a solution that will work!  I've just submitted #94 to resolve this issue.  I tested this by setting the number of records to display to one in a two node lab and clicking the `Next`, `Previous`, `1`, and `

[2016-01-26 10:18] #92 closed

[2016-01-27 04:38] asepkampak commented on #91
thanks @supertylerc its work perfectly.
every page now showing convert time thanks.

[2016-01-27 16:31] #91 closed

[2016-01-29 14:59] murrant commented on #38
Config: https://ptpb.pw/u-at
CSV: https://ptpb.pw/y9kY
Log with backtace: https://ptpb.pw/sBX6

[2016-02-05 19:22] murrant commented on #38
I ended up disabling single_repo.  I do like that it stored things in one repo, but much prefer a working system.

[2016-02-07 21:52] doogieconsulting commented on #38
Hey @ytti  i am getting the same error when i enable single_repo. Do you need/want me to provide any config files etc. for you to use? I am using LibreNMS HTTP source and git as the output.

[2016-02-09 12:08] ytti commented on #38
I've not really looked into this, but it looks like @supertylerc has done quite bit of work on it. So being lazy bugger, I hope he'll figure it out.

[2016-02-09 14:58] murrant commented on #38
@ytti @supertylerc  It is pretty simple to reproduce, you just need the following config.

If you have a repository with the same name as the group (<group>.git) it will pull the configs from there (instead of default.git/<group>) instead of crashing.   So, it is a bug either way.

[code]

[2016-02-09 15:08] supertylerc commented on #38
Thanks!

I'll look at this issue this weekend. Wish I could look at it sooner, but this is a very long and busy week at work.

[2016-03-07 16:39] yudayyy opened #96 "Live demo server not found"
I cannot access the live demo site.

[2016-03-07 18:43] ytti commented on #96
@nopedial

[2016-03-07 18:45] nopedial commented on #96
It's back from an hour or so but there are some troubles to pull data atm. I'll work on it in a few hours.

[2016-03-17 11:57] yesbox commented on #38
This is indeed an issue with single_repo. It appears the oxidized-web still tries to access the git repo as if single_repo was false, as if repos with the group names exist (easily reproducible by changing single_repo from false to true), those will be presented rather than the diffs from the single config repo. When the group repos are removed [this error](https://github.com/ytti/oxidized-web/iss

[2016-03-23 16:08] yesbox commented on #38
@supertylerc Are you looking into this? Would you need something else?

[2016-04-08 18:57] etern4ever opened #98 "Web Layout"
Is there something wrong with the current layout? This is the way the site appears in Firefox and Chrome.

https://i.imgur.com/38br7wi.png

Not sure if this is on purpose or just some CSS that needs cleaned up.  The old web ui had margins on the left and right, etc.

[2016-04-10 07:13] supertylerc commented on #98
I'm not concerned about the margins.  That said, I'm not a designer, so if there are design reasons to have margins, let's get them in place.

The logo looks like it's just a bug in CSS.  Lining it up with the `Stats` and `Migration` links should happen whenever its CSS is fixed.

[2016-04-11 14:41] etern4ever commented on #98
In the end, its just an interface to configuration files.  But I am just comparing it to the old interface. Which had margins, logo in header didn't cross the line, etc.

[2016-04-11 18:37] supertylerc commented on #38
@yesbox I have been _super_ busy with a new job.  Really sorry for the delays.

I was previously unable to reproduce the bug, but I'll take another stab at it this week and see what happens.

[2016-04-11 18:51] supertylerc commented on #98
Thanks for the feedback. There's another issue that is a little more pressing than this, but this should be low-hanging fruit to fix.

[2016-04-11 19:33] supertylerc commented on #96
Looks like live demo is up and available.  Closing issue.  Please reopen if you disagree or feel there is something else needed.

[2016-04-11 19:33] #96 closed

[2016-05-04 11:01] amarti2038 commented on #38
Hi,

we also found the same bug. If single_repo = true we triggered the "ArgumentError at /node/version", after disabling it it works fine.

Regards,
Albert M.

[2016-05-05 01:17] supertylerc commented on #38
Am I ever behind.

So what I've found is that the node isn't found and if it's not found we don't handle it gracefully.  It's detecting the group and the node name properly, but the method it's calling to find the node's version (`nodes.version`) can't find the node.  I'll dig into that method and see if I can find out why.

[2016-05-05 01:43] supertylerc commented on #38
Looks like the reason this happens is because it's trying to find a repo named after the group anyway.  This is a bug in oxidized itself, not oxidized-web.

[2016-05-05 01:50] supertylerc commented on #38
Good news: I know how to fix this specific bug!  But then there's another one.  :)  I'm following the rabbit.

[2016-05-05 02:14] supertylerc commented on #38
More progress, but still more errors.  It's clear at this point that the `single_repo` implementation in core Oxidized has been severely broken for some time.

[2016-05-05 02:19] supertylerc commented on #38
lol, I'm stopping now.  Right when I fixed everything and started to get ready to submit the PR, I discovered that the fix already exists in Oxidized, it just hasn't been published yet.

So...if you want this to be fixed, you need to install `oxidized` (not `oxidized-web`) from GitHub instead of RubyGems.

[2016-05-05 02:19] #38 closed

[2016-05-05 02:20] supertylerc commented on #38
And, just to point to the actual commit that fixed this: https://github.com/ytti/oxidized/commit/60cd19857c2f722a1b39b8ee0f5b09440612d0ed

[2016-05-05 02:33] supertylerc commented on #98
#100 seems to have aimed to fix this, but I still see that the logo is not placed very well.  I discovered that 8 days ago someone else fixed the bug that I also fixed tonight, so I'll start working on this as well.

[2016-05-05 02:51] #98 closed

[2016-05-05 02:52] supertylerc commented on #98
@etern4ever this should be fixed by #101, which I've just merged.  It now looks like this:

<img width="879" alt="screenshot 2016-05-04 19 49 56" src="https://cloud.githubusercontent.com/assets/4076147/15035040/a96456fc-1231-11e6-92a6-c2e5c980e167.png">

[2016-05-05 10:40] amarti2038 commented on #38
lol, ok thanks for your effort :)

[2016-05-05 14:33] supertylerc commented on #38
Fix is now available in Oxidized 0.14.0, released a little bit ago.

[2016-05-24 20:48] etern4ever commented on #98
@supertylerc Much better.  Thanks!

[2016-06-27 08:01] casdr opened #103 "Escape HTML on config views"
Some configs have <removed> to remove things like the passwords. The problem is that these aren't escaped, so sometimes it breaks the view.

Maybe it's a good idea to escape the config?

[2016-06-27 08:17] ytti commented on #103
Yeah sounds good, the HTML presenter part should have method which renders the config as HTML safe.

[2016-06-27 15:32] shailigum opened #104 "timestamps from UTC > CDT"
I've seen the other posts in regards to the timestamps how they should be converting to browser time, but I can't seem to get this to work.

I have the server set to UTC and can confirm my Browser should be set to CDT.

Ideally i'd like to see it all in CDT, but am not very familiar with JS, so looking through the code didn't yield any results for me.

Can anyone point me in the right direction?

[2016-06-27 17:50] danilopopeye commented on #104
@shailigum the function you should change is this `convertTime` here: [oxidized.js#L38-L59](https://github.com/ytti/oxidized-web/blob/55b16c3744af092970159d28afcd35abf99e0959/lib/oxidized/web/public/scripts/oxidized.js#L38-L59).
The most useful reference I could find is the issue #51.

[2016-06-27 20:01] shailigum commented on #104
hmm..I am already running this in my code, looked through and found it earlier (referenced in #51 and etc).

Is there something I should be doing other than just having the code in there?  Everything seems to be in place to me.

If I try the demo @oxidized.arahant.net I also see UTC instead of CDT, but i'm definitely CDT...

[2016-06-28 14:13] danilopopeye commented on #104
This could be related to the javascript error I just fixed in #105, could you try my fix and see if it helps?

[2016-06-28 14:24] shailigum commented on #104
perfect!  that worked, thank you.

[2016-06-28 18:37] ytti commented on #104
Thanks @danilopopeye

[2016-06-28 18:37] #104 closed

[2016-07-21 13:14] malkovitch commented on #96
Hello,

The live demo website is down again.

Error : 502 Bad gateway

[2016-08-05 15:51] TestingBytes opened #106 "Feature Request: Add Basic Authentication to Web Interface"
As per https://github.com/ytti/oxidized/issues/285, it would be nice to see some basic authentication added to the web interface to avoid exposing switch configs.

[2016-09-16 05:56] xdaxdb commented on #106
or at least a logout button for those who are using apache proxy with mod_auth_form that we can point to a logout URL

[2016-09-16 06:02] xdaxdb opened #107 "Timezone coming from browser; Timestamp is coming from server"
I notice that the time displayed on the updates is the server time, in my case UTC. But the time zone is being pulled from the browser. So the time is going to be wrong for anyone looking at the page from a different timezone than the server.

Suggestion for quick fix: Just pull the timezone from the server and don't bother trying to convert the time  for the browser. Good 'nuf.

[2016-09-16 12:19] ytti commented on #107
I don't like the wording ```wrong```, unless I misunderstood you. Because if I understood you correctly, you're saying all clocks not in UTC time are wrong.

We used to work like you want, because we store all times in UTC regardless what your server time is, some people didn't like this. They wanted local time, and I'm not going to store anything in non UTC, but I'm happy to do presentation in no

[2016-09-24 21:22] xdaxdb commented on #107
To clarify: I prefer UTC also. The time on my server is UTC. The time
displayed on the webUI is the correct time (in UTC). But the timestamp says
"PDT" which I assume is coming from the browsers because local time here is
PDT. But the time being displayed is the correct UTC time.

On Sep 16, 2016 5:20 AM, "ytti" <notifications@github.com> wrote:

[2016-09-24 23:10] ytti commented on #107
Oh right. It definitely should be converted to local timezone by the code.

But hopefully in future we can also allow user to change the display timezone to UTC, or specific offset of it.

[2016-09-29 16:31] Alexanderis opened #108 "conf_search JSON output"
Hi team,

Quick question about the following piece of code  from oxidized-web-0.7.1/lib/oxidized/web/webapp.rb

post '/nodes/conf_search' do
        @to_research = Regexp.new params[:search_in_conf_textbox]
        nodes_list = nodes.list.map
        @nodes_match = []
        nodes_list.each do |n|
          node, @json = route_parse n[:name]
          config = nodes.fetch node, n[:group]

[2016-09-29 18:13] ytti commented on #108
It should produce json if you add .json to the query

[2016-09-29 19:16] Alexanderis commented on #108
I tried this versions when doing the query but they error out:

[code]
[code]

When I do `curl -F search_in_conf_textbox=cisco http://oxidized.arahant.net/nodes/conf_search
` I get the full HTML page.

What I'd like is the json with only the nodes that match the conf_search query like  [{"name":"192.168.88.233", "href":"/node/fetch/192.168.88.233"},
{"name":"192.168.88.230", "href":"/node/fetch/19

[2016-09-29 19:22] ytti commented on #108
We're missing ```.?:format?``` in the route, can you check if adding that fixes it?

[2016-09-29 19:32] Alexanderis commented on #108
Added the  ` post '/nodes/conf_search.**?:format?'** do`  and it doesn't error out anymore but it prints a "null" result if I try the query/

[2016-09-29 19:37] ytti commented on #108
grumble, you probably need to add ```@data = @nodes_match``` before ```out``` is called

[2016-09-29 19:41] Alexanderis commented on #108
:+1:  wohoooo!!!! Works as advertised!!
Thanks!

[2016-09-29 19:56] ytti commented on #108
@FlorianDoublet I believe you wrote this? Want to refactor the posts which do not support JSON?

[2016-09-30 14:43] FlorianDoublet commented on #108
@ytti that's right I wrote this. But I don't really have the time for the moment to refactor it,  sorry :/

[2016-09-30 15:00] ytti commented on #108
no worries, thanks.

[2016-10-07 19:02] xdaxdb commented on #107
In the most recent version the problem no longer exists. Installed 2 days ago.

[2016-10-07 20:09] ytti commented on #107
Thanks.

[2016-10-07 20:09] #107 closed

[2016-10-25 20:00] Alexanderis opened #109 "conf_search does not work with files output"
This works with GIT output but fails when file is selected with the following error and backtrace:

TypeError at /nodes/conf_search
no implicit conversion of Regexp into Integer
file: webapp.rb location: [] line: 55

[code]

[2016-10-26 10:08] ytti commented on #109
file.rb's ```fetch``` likely is the culprit. It seems fetch may not be returning a string but an array.

When you're doing this, are you also running groups?

[2016-10-26 10:33] ytti commented on #109
Can you try after this change:
https://github.com/ytti/oxidized/commit/449522554473f4b9a261ec06ee6961defb30f7bb

[2016-10-26 15:02] Alexanderis commented on #109
Works when all files are where they are suppose to be.
However if a node doesn't have a file it errors out. After I created a  file for every node with issues the search worked.

Errno::ENOENT at /nodes/conf_search
No such file or directory @ rb_sysopen - /etc/oxidized/GROUP/node-name

/var/lib/gems/2.3.0/gems/oxidized-0.16.3/lib/oxidized/output/file.rb in read
      File.read File.join(cfg_dir, n

[2016-10-26 19:09] ytti commented on #109
I changed it to return nil, if file can't be found, I'm not sure that is actually sensible, of perhaps we should raise the ENOENT error, and let consumer (oxidized-web) figure out what to do when file is not found, perhaps complain in the webpage for example.

[2016-12-15 10:34] sebisme opened #110 "Backup the vlan.dat file from (i.e.) cisco catalyst switches"
I would like to save the vlan.dat file from Cisco Catalyst switches.
I found a way to send it to a predefined tftp server, but the problem is that the vlan.dat file is not stored in the git repo.

On ios.rb model file, i added the following code :

[code]

This way, the vlan.dat file is sent to the tftp address :tftp_address... How could i do to copy that file to the git repo ?

Thanks !

[2016-12-15 10:39] #110 closed

[2016-12-15 11:50] ytti commented on #110
Dunno why this was closed, but you could do ```more``` to print it on terminal.

[2017-01-13 18:53] bradvido commented on #31
Is there an easy modification that can be done to default to displaying all columns?

[2017-01-24 10:43] pjust51 opened #114 "Problem on versions with output git (pfsense)"
Hi,

i use oxidized for backup configuration of my pfsense (v2.1.5) and it works, except for versions with git output :

Here are screenshots to illustrate the problem :

with the "configuration" button from first page, no problem :
https://www.noelshack.com/2017-04-1485185637-pfsense-1.png

with the versions button then configuration, xml tags are deleted and the backup from older versions is unu

[2017-01-24 10:53] ytti commented on #114
ping @FlorianDoublet @supertylerc @MrRJ45

[2017-01-27 22:29] devicenull commented on #106
Putting nginx or another web server in front definitely seems to make more sense then adding arbitrary auth to oxidized.  You'd end up re-implementing a bunch of web server stuff.  For example, if you want logins, you presumably also want TLS.  So now oxidized needs to know how to set up TLS?

[2017-01-28 10:53] ytti commented on #106
ACK. I mean we are using web server, it's not custom code, and there is middleware, so changing the web server is easy.
However, I'm in same boat as you are. I initially only even thought about the web as an API, not as something that people use their GUI browser against.

But other people see differently, and as long as it's not harmful, I happily accept pull-request for making the Web UX more co

[2017-01-29 09:48] RedShift1 opened #115 "Display last configuration change date on nodes list"
The nodes overview doesn't tell you when a device had its configuration updated. You have to click on "versions" of each device to see if it has changed or not.

There should be a field that tells you the date of the last configuration change.

[2017-01-29 13:44] ytti commented on #115
Pull requests accepted :)

[2017-01-30 10:11] pjust51 commented on #114
any news ?

[2017-02-01 07:25] wendelj commented on #114
Took a stab at fixing this.
https://github.com/wendelj/oxidized-web/commit/95d3742f9b9dfb1eb9159d2672b27010d6e8c065

[2017-02-01 10:16] pjust51 commented on #114
work like a charm ! big thanks

[2017-02-01 10:18] ytti commented on #114
great work, can you submit PR?

[2017-02-01 14:23] pjust51 commented on #114
sorry I don't know how to do :(

[2017-02-01 14:52] ytti commented on #114
That was for @wendelj

[2017-02-02 18:32] #114 closed

[2017-02-07 15:28] Tito-aix opened #117 "Database security purpose"
Hi,

Is it possible to encrypt router.db file somehow ?

Or to avoid plaintext passwords for SSH login & enable command ?

Thanks !

[2017-02-17 09:08] abn opened #119 "Missing dependency: json"
The dependency list for oxidized-web seems to be missing `json` as used at https://github.com/ytti/oxidized-web/blob/master/lib/oxidized/web.rb#L1.

This was identified when debugging root cause for the following.
[code]

[2017-02-17 09:14] ytti commented on #119
Hey, ```json``` is standard library. To me it looks like you enabled REST/WWW, but you didn't install ```oxidized-web```.

[2017-02-17 09:32] abn commented on #119
@ytti I did; but it seems its an distro issue. Using this under alpine. `oxidized-web` was installed. Here is the strace snippet that lead me to the missing `json` dep (sorry not familiar with the ruby ecosystem). Could it be a distro packaging issue?

[code]

[2017-02-17 09:35] ytti commented on #119
The traceback you show tells only about oxidized-web. Perhaps you installed it as root with 077 umask and now use can't read it?

[2017-02-17 09:36] frankzhao commented on #119
Looks like `json` is included on debian but not on alpine. I tried this on alpine with a file test.rb

[code]

But this runs fine on debian.

[2017-02-17 09:36] abn commented on #119
Was running as root in a container. Should not have been a permission issue (at least not obviously). But I did manage to confirm that json does not seem to be present in alpine.

[code]

[2017-02-17 09:39] frankzhao commented on #119
Looks like alpine might have this seperated out into `ruby-json`
https://pkgs.alpinelinux.org/package/v3.3/main/x86/ruby-json

[2017-02-17 09:39] ytti commented on #119
[code]

[2017-02-17 09:41] abn commented on #119
Looks like it is a an alpine packaging oddity. Thanks @frankzhao @ytti. Will work around in my case by explicitly pulling it in.

[2017-02-17 09:42] ytti commented on #119
I categorically refuse to believe they do not include standard library. There is json gem, but there is no need to install it.

[2017-02-17 09:45] ytti commented on #119
Perhaps you've not installed ruby standard library?
➜  ~ dpkg -S /usr/lib/ruby/2.3.0/json.rb
libruby2.3:amd64: /usr/lib/ruby/2.3.0/json.rb
➜  ~

[2017-02-17 09:49] abn commented on #119
https://pkgs.alpinelinux.org/contents?file=json.rb&path=%2Fusr%2Flib%2Fruby%2F2.3.0&name=&branch=&repo=&arch=

Looks like that is provided only via the `ruby-json` package.

[2017-02-17 09:57] ytti commented on #119
I am speechless, this is standard library, no ruby software makes any attempt to depend on standard library. What could they possibly have thought removing file from standard library and put it on additional OS package, this is fundamentally broken.

[2017-02-17 10:07] abn commented on #119
I could not find any documented reasons why that was done in the ruby case. However, I reckon it is safe to assume that the intention is to further the granularity of package components in order to allow for a minimalist foot print (as it is  one of their core objectives).

For anyone else that stumbles across this, the workaround/fix was to do one of the following as the issue lies in how the jso

[2017-02-20 19:16] AbortRetryFail opened #120 "Dates column on Versions page is incorrect"
oxidized-web seems to ignore time zone offset when it calculates the Dates column on the Versions page.

My timezone is UTC-5 and it shows 8 hours 20 minutes on the Versions page where the time on the diff is 3 hours 20 minutes ago.

[2017-02-23 19:56] Mk-00 opened #121 "Bug in get diffs button when deployed under non-root directory"
Found a bug from https://github.com/ytti/oxidized-web/blob/master/lib/oxidized/web/views/diffs.haml#L26

What would be the best way to fix this?

`%form{action: "../../node/version/diffs?#{params}", method: 'post', role: 'form'}`
or
`%form{action: url_for("/node/version/diffs?#{params}"), method: 'post', role: 'form'}`

[2017-02-24 09:25] ytti commented on #121
probably url_for

[2017-02-27 19:23] #121 closed

[2017-03-23 12:50] FleischKarussel opened #124 "demo website is not available"
502 Bad Gateway

[2017-03-24 21:40] kunwon1 opened #125 "UTC/Localtime in /nodes"
Hi! I have reviewed some old issues and I think this has come up a few times, I'm hoping I can help with closing it for good

I have oxidized monitoring 170 nodes. The first 100 nodes display in localtime on oxidized-web, no matter how they are displayed. To put that another way, when pagination is set to 50 nodes, pages 1 and 2 display in localtime, the remainder do not. When pagination is set to

[2017-03-27 09:30] ytti commented on #125
I've not written this code and thus I have no familiarity with it So you'd need to either ping the original @author or just dive in to the code.

[2017-04-27 13:49] tstasevych opened #127 "How to change default number of devices displayed from 50 to All?"
I would like to always show all results (150+) instead of paged view.

Thanks.

[2017-05-05 19:22] ivarhjulben opened #128 "Backup file that contains xml"
Hi

I'm using Oxidized for config backup of our Innovaphone PBX's and the backup contains xml tags. It could be something like `pbx=<device hw="__SIP__"/>`.
This is not understood by the browser when versions are loaded.

I have so far fixed this by adding:
`require 'htmlentities'`
, after line https://github.com/ytti/oxidized-web/blob/master/lib/oxidized/web/webapp.rb#L7

and adding:
`@data = HTM

[2017-05-07 10:42] ytti commented on #128
This looks like a reasonable fix to me, submit a PR?

[2017-05-07 10:51] ivarhjulben commented on #128
Thanks, I will submit a PR

And thanks for all the good work with Oxidized:-)

[2017-05-07 13:53] ivarhjulben commented on #128
I have not done a pull request before and hope I did correct?
https://github.com/ytti/oxidized-web/pull/129

[2017-05-07 14:54] ytti commented on #128
Looks good, thanks! You could have added 'Fixes #128' in commit body, and it would have autoclosed this once merged.

[2017-05-07 14:54] #128 closed

[2017-05-08 02:33] Hill-Labs-ICT opened #130 "opt/librenms"

[2017-05-08 08:14] ytti commented on #130
Suspect this is accidentally opened, closing.

[2017-05-08 08:14] #130 closed

[2017-05-10 12:45] bheum commented on #127
You can edit your nodes.haml file located somewhere like /var/lib/gems/2.1.0/gems/oxidized-web-0.8.0/lib/oxidized/web/views/nodes.haml
You can see your gem path using: `gem environment`
I added `"pageLength": -1,` to get a default of Show "All" entries

"pageLength": -1,
columnDefs: [{

[2017-05-24 14:42] roedie opened #132 "Config displayed incorrectly"
Hi,

I've upgraded to  0.9.0 from 0.8.0. Now when I want to look at a config from a couple of changes ago the HTML is a bit mixed up. " is displayed as &quote; and all the newlines are double newlines.

If I look at diffs the same happens.

Looking at the last config directly from the main page is working fine.

Regards,

Sander

[2017-05-29 17:05] jorhardware opened #133 "pfsense"
Hi, @ytti
i use oxidized for backup configuration of my pfsense and it works, very nice, except for versions with git output, the code is line spaces white.

Here are screenshots to illustrate the problem:

- with the "configuration" button from first page, no problem:
http://imageshack.com/a/img922/9202/wvnLmy.jpg

- with the versions button then configuration, the code is spaces line white, for

[2017-06-01 06:59] Turbid opened #134 "Errno::EACCES at /node/version/view Permission denied"
I got this error when trying to view the old version from history:

[code]
Backtrace:

[code]

[2017-06-07 12:27] OCangrand commented on #134
`sudo chmod 544 /var/lib/gems/2.1.0/gems/oxidized-web-0.9.1/lib/oxidized/web/views/version.haml`
will probably work but I don't get why it hasn't the same right as the other files from the start.

[2017-06-07 12:33] Turbid commented on #134
Omg, it seems that the problem really is this:
[code]
After cmod 544 really works as it should.
Very strange - I installed according to the instructions for Debian.

[2017-06-07 13:46] OCangrand commented on #133
Hi,

It seems the problem come from the `:escaped` string from haml files in /var/lib/gems/.../oxidized-web-0.9.1/lib/oxidized/web/views/version.haml and diffs.haml.

You have to delete the `:escaped` string like this :
from :
[code]
to :
[code]
This is for version.haml, you have to do the same for all the `:escaped` string in diffs.haml (there are at the end of the file)
This is only a local fix

[2017-06-10 19:16] hestonk commented on #134
I ran into this as well and can confirm it also works work `sudo chmod 644 version.html` as it does not required to be executable.
[code]

[2017-06-10 19:51] hestonk commented on #132
@roedie i believe #116 broke this. I those changes on this file and everything looks normal now. I'm very unfamiliar with Ruby and HAML but I think i should be able to reverse engineer and fix this.

[2017-06-10 21:13] hestonk commented on #132
Figured it out.....Created #135 to fix this.

[2017-06-12 09:16] roedie commented on #132
Just tested this, and it fixes it indeed.

[2017-06-13 07:40] roedie commented on #132
Hmmm, no, it doesn't fix it completely. When I go to diff screen, and then select a full config of a specific version I still get the &quote.

[2017-06-13 13:15] hestonk commented on #132
@roedie yes that is hard-coded in the ruby file. I was experimenting with changing it. We should probably ask @ytti whether a blank space (which I think is the intention of &nbsp; is) is valid. I think &nbsp; within a <div> tag itself is always going to display. Really it should be a <br /> but due to HAML its harder to do that (at least that's what i think.
Also, if you have &'s within your code,

[2017-07-06 21:12] candlerb commented on #132
I think there are two issues:

* Spacing with `white-space: pre` https://github.com/ytti/oxidized/issues/924
* Escaping of HTML entities https://github.com/ytti/oxidized/issues/925

(Those issues now closed because I had opened them in the wrong repository, sorry about that)

[2017-07-13 22:08] jgroom33 opened #138 "Reload button on nodes uri doesn't honor rest config entry"
Config file snippet:
....
debug: false
threads: 30
timeout: 20
retries: 3
rest: 0.0.0.0:8888/oxidized
....

Reload button always directs to https://x.x.x.x/reload.json
Reload button should direct to https://x.x.x.x/oxidized/reload.json assuming above config snippet

[2017-07-19 16:47] jgroom33 commented on #138
Closing due to problem already solved in previous commit

[2017-07-19 16:47] #138 closed

[2017-07-31 14:17] Ynnot opened #139 "Just a question"
Hi !
I have a question. In stat mode, the "failure rate" is about the percentage of the config load or the percentage where Oxidized success to get the config ?

Thank you.

[2017-07-31 20:51] laf commented on #139
I think the failure rate is the percentage of devices that could be contacted. It might not still result in valid config backup but indicates the device responded correctly on telnet or ssh (I think)

[2017-08-02 08:17] Ynnot commented on #139
Yes that's what I thought.

Thank you i close !

[2017-08-02 08:18] #139 closed

[2017-08-17 12:30] LemonLight opened #140 "Reload button does not work on Firefox ?"
Hi,

I recently noticed that the reload button doesn't work on Firefox but works perfectly on Chrome, Edge and IE.

Is it the same for you ?

Regards.

[2017-08-17 20:23] danilopopeye commented on #140
@LemonLight can you open the console and see if any error appears?
Also, with version of Firefox are you using?

[2017-08-18 10:12] LemonLight commented on #140
@danilopopeye Yes there are CSS and JS errors, do you want me to send you all of them ?
I'm running the v55.0.2

[2017-08-23 20:14] seekerOK commented on #106
I just add a logout button, a dirty workaround but is working for me in Chrome and using nginx basic auth.

[code]
added in **nodes.haml** just next to the reload and refresh button.

[2017-08-28 15:24] seekerOK opened #141 "Highlight Row in color"
Possible to Highlight in a different color when mouseover on a row, right know it gets the same dark grey color

[2017-09-04 15:02] LemonLight commented on #140
Poke @danilopopeye :)

[2017-09-04 18:22] laf commented on #140
Just pastebin it here.

[2017-09-05 07:27] LemonLight commented on #140
Here there is https://pastebin.com/kvkAbDyf

[2017-09-06 00:01] mattie47 opened #142 "Oxidized-web shows "&lt;secret hidden&gt;" on hidden passwords"
Oxidized-web end is showing ```&lt;secret hidden&gt;``` instead of ```<secret hidden>``` for secret passwords.

Not sure how to fix this, but you can see an example of it here:

https://oxidized.arahant.net/node/version/view?node=192.168.88.233&group=&oid=47d8929215f1ecf0056ad8733e0dc0ea81a35770&date=2017-09-04%2018:34:39%20+0000&num=13

Then find "username Cisco".

Thanks,

Matt

[2017-09-06 20:11] howardjones commented on #20
Greetings from the future :-) I've just run into this same issue... for us it's that RANCID has its own account in ACS for some devices (which is different from what we'd use for normal config work), and then some devices have specializations (for things like "must use a certain cipher"), or local accounts for remote devices.

Before I found Oxidized, I did start writing a Python tool to manage RA

[2017-09-06 20:19] howardjones commented on #20
This wouldn't be so bad if the migration tool didn't also create a router.db which oxidized can't load... At least I assume that's what is happening. If I press Reload in the web ui after a migration, I get a "Unable to reload nodes" warning, but no information in the log to say _why_ that might be.

[2017-09-11 15:08] danilopopeye commented on #142
I think this was intended, or at least a side effect of this commit https://github.com/ytti/oxidized-web/commit/95d3742f9b9dfb1eb9159d2672b27010d6e8c065

[2017-09-11 15:16] danilopopeye commented on #140
hum, it seems that the code that changes the date from UTC to your browser tz is broken, so it prevents the bind to the reload button.

@LemonLight can you post the dates in the page where the problem is occurring?

[2017-09-23 21:35] Mk-00 opened #143 "Problems with special characters in oxidized web versions 0.9.x"
I have noticed lot of issues in special character printing in oxidized web after upgrading from version 0.8.0 to 0.9.2, specially in double quotation marks in a switch config. I had to revert three commits to get the oxidized fully functional again after the upgrade.

First I reverted [this](https://github.com/ytti/oxidized-web/commit/094d50de4fb0c148289e3cdf3c5c4137a3138e99), [this](https://githu

[2017-09-23 21:41] Mk-00 commented on #143
There is also another issues regarding this problem but I decided to create a new one including all the commits that have affected to this issue. I have currently no time to debug this myself so decided to fix this in our environment by reverting couple of commits.

[2017-09-25 16:29] laf commented on #143
@MK-00, please add your comments to #142 and close this.

[2017-09-26 18:10] xssec opened #144 "Oxidized-Web Config Differ : Not Shown"
Hi, Thank you for your great tools. I have some trouble to show config differ on web-gui like demo site: https://oxidized.arahant.net/node/version?node_full=192.168.88.231

And how to send alert to slack webhook, could you please give me the sample code?
![oxidized - 2017-09-27_1-11-47](https://user-images.githubusercontent.com/24645674/30876500-081fcf4c-a321-11e7-94c5-330b674dd5f9.png)

[config.t

[2017-09-26 18:54] laf commented on #144
You're using file for output which doesn't support diffs. You need to switch to using git.

The readme has info on using slack: https://github.com/ytti/oxidized#hook-type-slackdiff

[2017-09-27 04:21] xssec commented on #144
Hi Iaf,

is the format like this?
slack:
    type: slackdiff
    events: [post_store]
    token: https://hooks.slack.com/services/***********
    channel: "#network-changes"

[2017-09-27 07:33] laf commented on #144
token should be just the token and not a url.

You also need to ensure the config is formatted as per the docs including indentations.

[2017-09-27 19:04] laf commented on #124
Demo is currently working ok. @FleischKarussel can you close this issue please.

[2017-09-27 19:29] FleischKarussel commented on #124
yep looks fine. thanks! :>

[2017-09-27 19:29] #124 closed

[2017-09-27 20:31] Mk-00 commented on #143
Ok, I'll do this.

[2017-09-27 20:31] #143 closed

[2017-09-27 20:31] Mk-00 commented on #142
I have noticed lot of issues in special character printing in oxidized web after upgrading from version 0.8.0 to 0.9.2, specially in double quotation marks in a switch config. I had to revert three commits to get the oxidized fully functional again after the upgrade.

First I reverted [this](https://github.com/ytti/oxidized-web/commit/094d50de4fb0c148289e3cdf3c5c4137a3138e99), [this](https://githu

[2017-09-29 03:53] xssec commented on #144
HI Laf,

Thank you so much. Now it running well.

[2017-09-29 15:20] laf commented on #144
@xssec ace. Can you close this issue please.

[2017-10-03 06:32] xssec commented on #144
Hi Iaf,

Upzzz... anw thx ya.

[2017-10-03 06:32] #144 closed

[2017-10-09 15:07] LemonLight commented on #140
Sorry by responding only now....
I am not sure to understand what you want ^_^

[2017-10-26 13:23] garryshtern opened #145 "Show last config charge in the status."
It would be really useful to add a column to the /nodes view displaying the last time there was a change detected to the config.

[2017-11-02 08:04] sliddjur commented on #142
Super annoying since all the vyatta/vyos config elements are with single quotes. Any fix coming for this?

[2017-11-14 16:12] roedie opened #147 "Web interface stopped working"
Hi,

after upgrading to oxidized-0.21 and oxidized-web-0.9.3 the web interface does not start anymore. I do not see any errors so I have no clue what is going on.

Is this a known bug?

Sander

[2017-11-14 16:48] laf commented on #147
No known bugs.

Please post the output after enabling debug.

[2017-11-15 08:17] roedie commented on #147
Right, here it is:

[code]

And my config:

[code]

[2017-11-15 08:37] roedie commented on #147
Just for completeness, I'm running this on Debian 9.

[2017-11-15 08:45] laf commented on #147
Very odd, I've just used your config and get puma starting up ok.

I've currently got these installed:

[code]

CentOS based, I don't have any Debian installs to test on.

[2017-11-15 08:53] roedie commented on #147
Awwwwwww, I just fixed it by running 'gem cleanup'.

Sorry to bother you.

[2017-11-15 08:53] #147 closed

[2017-11-15 20:40] jarora11 commented on #85
@ytti @supertylerc Am not sure about this hence asking, what if we want to protect the API (don't really care about the web interface as much). But I would prefer to have either token based auth or ldap based auth against the API. Any way to implement that?

[2017-11-15 20:51] laf commented on #85
At present it's not supported so would need someone to add that core support into it.

LDAP support doesn't seem sane as that just opens up people wanting to add AD, MySQL, Radius, etc, etc. Implementing basic auth or a token system seems the most logical way forward.

[2017-11-15 21:22] jarora11 commented on #85
@laf thanks for the prompt response. Lets ignore LDAP then. But how much effort would it be to add basic token based auth? Unfortunately am not Ruby savy, if this was written in Python I would have gladly offered support to add it myself.

[2017-11-15 21:54] laf commented on #85
You're at the mercy of someone who wants that support to right the code :(

[2017-11-20 16:44] pv2b commented on #103
I don't know if anything was done regarding this, but right now it seems oxidized-web escapes twice, so when looking at diffs for an XML config it looks like a mess.

[2017-11-22 19:45] davama opened #149 "Cannot install - rack-test version issue"
Was trying a fresh install

[code]

Same result. Building from source:

[code]

Centos7
Kernel: 3.10.0-693.5.2.el7.x86_64
Release: 7.4.1708

What can i try? First time i see these results.
Already installed pkgs mentioned [here](https://github.com/ytti/oxidized#centos-oracle-linux-red-hat-linux)

Thanks!

-dave

[2017-11-22 21:59] raisullip commented on #149
yeah same issue here

looks like oxidized-web rack-test requires Ruby version >= 2.2.2. even when installing old versions

[root@default-centos-72 ~]# gem install oxidized-web -v 0.0.1
Fetching: rack-2.0.3.gem (100%)
ERROR: Error installing oxidized-web:
rack requires Ruby version >= 2.2.2.

[2017-11-22 22:02] laf commented on #149
For now run `gem install rack-test -v 0.6.3` then install oxidized-web

[2017-11-22 22:12] raisullip commented on #149
no dice,

[vagrant@default-centos-72 ~]$ gem install rack-test -v 0.6.3
Fetching: rack-2.0.3.gem (100%)
ERROR:  Error installing rack-test:
	rack requires Ruby version >= 2.2.2.

[2017-11-22 22:22] laf commented on #149
[code]
That's on CentOS 7 (7.3).

The output of your install is different for me:

[code]

[2017-11-22 22:51] raisullip commented on #149
looks like 0.5.0 does it

[vagrant@default-centos-72 ~]$ gem install rack-test -v 0.6.3
Fetching: rack-2.0.3.gem (100%)
ERROR:  Error installing rack-test:
	rack requires Ruby version >= 2.2.2.
[vagrant@default-centos-72 ~]$ gem install rack-test -v 0.6.2
ERROR:  Error installing rack-test:
	rack requires Ruby version >= 2.2.2.
[vagrant@default-centos-72 ~]$ gem install rack-test -v 0.6.1
ERROR:

[2017-11-22 22:51] raisullip commented on #149
any advice against using 0.5.0 ?

[2017-11-23 08:18] laf commented on #149
None from me I'm afraid. It must be a dependency of something we rely on.

@ytti Any thoughts on this?

[2017-11-23 18:09] davama commented on #149
@laf  Thank you! That did the trick

[code]

Thanks again for the support!

[2017-11-23 19:50] raisullip commented on #149
thanks for reopening it

[2017-11-23 20:14] laf commented on #149
np, we need to find the proper fix.

[2017-11-27 18:21] raisullip commented on #149
Agreed, let me know if I can help

[2017-12-16 10:23] denngie commented on #103
yeah I noticed the same thing, in /node/version/diffs and /node/version/view the HTML source is:
`<div>! NAME: &amp;quot;Chassis&amp;quot;, DESCR: &amp;quot;Nexus5548 Chassis&amp;quot;</div>`
When it should be:
`<div>! NAME: &quot;Chassis&quot;, DESCR: &quot;Nexus5548 Chassis&quot;</div>`
It seems like it encodes the line twice, first `"` is replaced with `&quot;` and then `&quot;` is replaced wit

[2017-12-16 22:11] #103 closed

[2018-01-04 20:51] denngie commented on #142
I think this was solved in #151. Try to manually apply the changes or wait for 0.9.4 to be released

[2018-01-05 00:33] mattie47 commented on #142
@denngie  Have just tried manually and yes that fixes things. Will close this now.  👍

However it doesn't appear to have fixed things when pulled into librenms (I've restarted oxidized with no change observed). @laf  should librenms/librenms#7382 be re-opened?

[2018-01-05 00:33] #142 closed

[2018-01-06 20:59] laf opened #152 "Issue with "Search in Configs""
@chibi4588 commented on [Wed Nov 01 2017](https://github.com/ytti/oxidized/issues/1080)

I am having an issue upon a new Oxidized deployment when I attempt to use "Search in Configs".  I get an oxidized-web "NoMethodError at /nodes/conf_search, undifined method '[]' nil:NilClass" from file webapp.rb.

Any thoughts on a remedy??  Thanks much!

Here is the output in the logs:

Puma starting in singl

[2018-01-06 20:59] #152 closed

[2018-01-08 14:19] Baptizein commented on #31
Hello,

There is my solution (i'm on Debian 9.3) :
At the end of this file :
/var/lib/gems/2.3.0/gems/oxidized-web-0.9.3/lib/oxidized/web/views/nodes.haml

:javascript
  $(function() {
    $('#nodesTable').dataTable({
      dom: 'C<"clear">lfrtip',
      "lengthMenu": [[50, 250, 500, -1], [50, 250, 500, "All"]],
      columnDefs: [{
        visible: **# false**,
        targets: 1
      }, {

[2018-01-12 15:14] davama opened #153 "webpage not display properly with nginx sub-location directive"
Hello,

Not sure if oxidized issue or oxidized-web or even nginx for that matter...
I can make oxidized-web appear fine with the following configurations (all web features work)

(https://\<FQDN\>/nodes)
/etc/nginx/nginx.conf
[code]

~/.config/oxidized/conf
`rest: 127.0.0.1:9002`

But when i make the following changes it does not appear properly

(https://\<FQDN\>/oxidized/nodes)
/etc/nginx/nginx.

[2018-01-12 15:22] davama commented on #153
Nice and pretty
![Nice and pretty](https://i.imgur.com/JmdrXt9.png)

Not so pretty ... :(
![Not so pretty](https://i.imgur.com/YemJlQh.png)

[2018-01-13 07:09] laf commented on #153
Not sure this is an oxidized issue. We do the same with apache with no issues.

I’ll check our config and reply. Remind me in a few days if I’ve forgot.

[2018-01-15 15:52] davama commented on #153
Thank you for replying @laf . I'll be sure to remind you :smile:

Update:
I was curious if it was some type of timer delay that cause oxidzed-web to not display properly, since in oxidized we have +1000 clients.
As a test i dropped the number of clients in the oxidized DB to 50 with no change :disappointed:

oxidized-web still appears not very pretty.

[2018-01-15 16:07] laf commented on #153
Oxidized:

`rest: 0.0.0.0:8443/oxidized`

Apache:
[code]

So, try a `/` on the end of `/oxidized` in your config.

[2018-01-15 17:50] davama commented on #153
@laf thank you for the tip

I realized that i have a `root` directive in my cgit.conf file which is not in the cgit location but in the `server` block... that was what was causing the issues.... :(

/etc/nginx/locations/cgit.conf
[code]

For some reason i cannot get cgit to respect the `root` if it's inside the `location cgit` block.
This is outside oxidzed so i'll close.
Thank you for the kind su

[2018-01-15 17:50] #153 closed

[2018-02-09 09:53] ag0r4n opened #154 "oxidized-web: ERROR: Failed to build gem native extension."
trying a fresh install on Debian 9 using docker

[code]

[2018-02-15 19:43] laf commented on #154
I believe this is fixed. If you pull in the latest commit to oxidized and build it should be ok: https://github.com/ytti/oxidized/pull/1181

[2018-02-15 19:43] #154 closed

[2018-03-09 08:50] tobzsc opened #155 "Juniper Config signs are interpreted wrong"
When I am looking at the configuration versions several signs are interpreted wrong:

See:

`groups {
     disabled {
        interfaces {
            &lt;ge-0/0/*&gt; {
                disable;
            }
            &lt;xe-0/1/*&gt; {
                disable;
            }
            &lt;ge-0/1/*&gt; {
                disable;
            }
        }
    }
}`

Looks like some HTML special si

[2018-03-12 19:16] laf commented on #155
Duplicate https://github.com/ytti/oxidized-web/issues/132

[2018-03-12 19:16] #155 closed

[2018-03-14 14:27] huvelyb opened #156 "Diffs buggy when clicking on "get diffs!" button."
When I using the oxidized webpage, and choose a router to see the diffs, in the first screen, the diff between the versions are displayed well.
If I select other versions and click on the "Get diffs!" button I get empty panels, there are no diffs, but there must be difference between the versions.

I Attached 2 pictures that shows the bug.
What can cause this? How I can look after and fix it?

Tha

[2018-03-15 04:28] yzguy commented on #156
So according to: https://github.com/ytti/oxidized-web/blob/56044d37391e098fadd9627aa03086c63d577773/lib/oxidized/web/webapp.rb#L213-L218

If there is no diff between the versions, then it will display "no available". This would leave me to believe that version 5 and 7 are exactly the same.

In version 6 was something removed, then added back in version 7?

[2018-03-15 04:54] yzguy commented on #134
Can you confirm what the permissions were before you did the `chmod 544` or `chmod 644`?

I spun up a quick vagrant box with Ubuntu 16.04.3, copy/pasted the Debian instructions and if I look at the permissions I get

[code]

It installed Ruby 2.3.0 and oxidized-web-0.9.3. I see you're on Ruby 2.1.0 and oxidized-web-0.9.1
Since it has been months since this issue was filed, have you tried installin

[2018-03-15 08:06] rsaeba opened #157 "blank hostname"
Hi,

Thanks for Oxidized, great project !
Now, I've some issues with some fortinet hosts.
Backups are correct, but on the oxidized web-ui, some rows are blank in the hostname column.
![blankhostnames](https://user-images.githubusercontent.com/37365413/37396504-5f44476c-2779-11e8-8ed1-1ec4bbbe5612.jpg)
Can you help me please ?

Thanks a lot !

rsaeba

[2018-03-15 08:18] yzguy commented on #157
What version of oxidized-web are you running? The latest release does not even have "Hostname" anymore as a column.

[2018-03-15 08:27] laf commented on #157
@yzguy Well spotted :)

@rsaeba Please update oxidized, oxidized-web and oxidized-script to the latest version and try again. If you still have the issue please comment back here with the versions you are running and we can re-open this.

[2018-03-15 08:27] #157 closed

[2018-03-15 08:36] laf commented on #134
Thanks for helping triage these issues @yzguy

I'm going to close this as both a current gem install and the repo itself have the correct repos.

[2018-03-15 08:36] #134 closed

[2018-03-15 14:21] rsaeba commented on #157
OK. The hostname was not filled because hosts were not added before in devices list.

[2018-03-16 06:39] jadekler commented on #119
Good find. Wow. So annoying.

[2018-03-16 09:16] laf commented on #119
I'm closing this down, it's documented in this issue and appears like it's just alpine linux that exhibits this rather than across the board.

[2018-03-16 09:16] #119 closed

[2018-03-16 20:15] Speiker commented on #120
Did you find what was causing the discrepancy? I'm running into the same thing on my new install. 'Last Update' column time on nodes page is correct, but the Dates column is using UTC and therefore off by several hours.

[2018-03-22 09:12] huvelyb commented on #156
There is difference between versions in the router description row.
Another problem which can help you in examining, that if you select a diff, the deifference is shown correctly and if you refresh the page, the diffs are  dissapearing. The same thing happens, when you select the same version and click on the get diffs button. So for the first run it shows, but not for second, third, etc... run.

[2018-03-22 10:22] LemonLight commented on #140
Well, it works good now (with FireFox 59)

[2018-03-22 10:22] #140 closed

[2018-03-26 09:40] wlsaud619 opened #158 "utc change.."
hi.
i am ve-ry beginner.

can you help me please..?

i want to change utc timezone..
in web browser..!

utc -> kst

how can i do?!
what can i do?!

plese tell me detail..!

thank you!

[2018-03-30 12:32] FlorianB06 commented on #132
Hi,
any update or fix on this issue ?
Thank you

[2018-04-03 08:56] huvelyb commented on #156
I examined the URIs and get the two oids by hand, which shows no difference on the webside.

In the other hand I pulled the local git repo with command line, and I diffed these two oids and it show the differences the right way.

So maybe the problem is the URI path. (Maybe the problem in the GET paramter parsing?)

Cheers, Balazs

[2018-04-03 09:19] huvelyb commented on #156
May Suspicious from line 192:

        if params[:oid2]
          @info[:oid2] = params[:oid2]
          oid2 = nil
          num = @oids_dates.count + 1
          @oids_dates.each do |x|
            num -= 1
            if x[:oid].to_s == params[:oid2]
              oid2 = x[:oid]
              @info[:num2] = num
              break
            end
          end
          @data = nodes.get_diff n

[2018-04-05 08:17] huvelyb commented on #156
I think I've found the problem:

If you use "accentuated letter" in the router name field, the bug is appearing, when choosing for example the version 3 and 4 and click "get diffs", it will show that no difference between the versions.
If you use normal letters, the get diffs will start to work normally and showing the differences between versions.

According to this, maybe the urlencoding or vari

[2018-04-11 10:56] afics opened #159 "IndexError - index 21 out of string:"
Happens when accessing ```https://oxidized.example.com/node/version/diffs?node=router01&group=group01&oid=245d5f3ccc08f18b1aaa85d8663b1ed4af6e680b&date=2018-03-22```.
Backtrace:
[code]

[2018-04-16 13:11] laf commented on #159
Looks like it's because only the yyyy-mm-dd gets called.

Here's what my url looks like: `node/version/diffs?node=rtr01&group=default&oid=f93417d7a126246d4827ca5ef0e729d28a8f40ea&date=2018-02-17%2023:05:59%20+0000&num=8`.

How are you accessing that link?

[2018-04-16 13:12] laf commented on #156
Can you give examples of what you mean here please?

[2018-04-17 14:29] huvelyb commented on #156
Yes,
If you use "öüóíőúéáű" characters, the problem occurs. Please fix the issue, many thanks!

[2018-05-03 07:14] wk commented on #149
The hard dependency on ruby 2.2.2 for rack-test was introduced in rack-test 0.8.0, so versions up to and including 0.7.0 should work.

[2018-05-03 19:13] wk commented on #149
This has been addressed in #165, uninstalling all versions of rack-test and building a fresh oxidized-web gem from master should pull the correct version for backwards compatibility down to ruby 2.0.

[2018-05-31 22:41] Lukiko opened #168 "Haml precompiled_method_return_value"
I have oxidized and oxidized-web running on CentOS 7.1. Everything appears to be working just fine, but whenever I open or click anything in the Web UI I get this warning 3 times:

![oxidized_haml_warning](https://user-images.githubusercontent.com/12966742/40812029-bf7bb938-6501-11e8-9f55-8687a96a571d.PNG)

I'm running Ruby 2.5.1 and tried updating haml to 5.0.4 to see if it corrected the issue, b

[2018-06-02 07:53] wk commented on #168
Since the currently released gem depends on the older version, it is likely that after upgrading haml, both versions are installed and oxidized makes use of the older one (validate with `gem list | grep haml` as the oxidized user - are there two versions listed?).

If that's the case - at this point, it will be necessary to either force gem to uninstall the older version (breaking the dependency c

[2018-06-02 10:01] Lukiko commented on #168
I saw that this had been corrected in [162](https://github.com/ytti/oxidized-web/pull/162), but I was receiving the warning on a fresh install (of CentOS and oxidized) using haml 4.0.7 that comes with the gem.

I have no problem using an older version of Ruby as well to avoid this issue. What version would you recommend? Or should I build the oxidized-web gem from the git master?

Thanks again for

[2018-06-02 14:13] wk commented on #168
After installing `oxidized` and `oxidized-web`, it should be possible to do `gem uninstall haml --version <your version 4.x>`. This will complain about breaking dependencies and require confirmation, but ultimately succeed. After this, you should be able to install version 5 of haml.

This should result in a working configuration, sans the warnings.

[2018-06-03 15:34] Lukiko commented on #168
Building directly from git solved the issues. Thank you for that. I rebuilt the server again this morning to clean up it and realized there was a new release. Unfortunately, the new release this morning does not appear to work.

[oxidized@Netmon01 oxidized]$ oxidized
I, [2018-06-03T11:27:38.207698 #60168]  INFO -- : Oxidized starting, running as pid 60168
I, [2018-06-03T11:27:38.208756 #60168]  IN

[2018-06-03 15:47] Lukiko opened #169 "oxidized-web not found"
Fresh install with the new releases and oxidized-web does not appear to be working. I tried to install using bundler but received an error when oxidized-web required oxidized 0.21.0.

gem install oxidized-web is also installing oxidized 0.21.0.

[oxidized@Netmon01 oxidized]$ oxidized
I, [2018-06-03T11:42:56.227473 #8109]  INFO -- : Oxidized starting, running as pid 8109
I, [2018-06-03T11:42:56.229

[2018-06-03 16:03] ytti commented on #169
I relaxed the oxidized-web requirements in 0.10.2 unsure if it helps, i mean it should've just installed 0.21.0 and be happy with it, undesirable situation but non catastrophic.

[2018-06-03 16:10] Lukiko commented on #169
Uninstalled and re-installed. Appears to be working again. Thank you!

[2018-06-03 16:13] ytti commented on #169
Awesome, my thanks and apologies.

[2018-06-03 16:13] #169 closed

[2018-06-03 22:15] #168 closed

[2018-06-12 07:29] hunnymonster opened #171 "Unable to install oxidized-web gem"
Hi all - up until yesterday all was working fine... in trying to fix, I've completely uninstalled oxidized, oxidized-script & oxidized-web and reinstalled...

oxidized & oxidized-script install just fine.

oxidized-web no so much.

Get the same issue with ruby 2.3 & 2.5...

`root@####:~# ruby --version
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux-gnu]`

`root@####:~# gem install -V oxid

[2018-06-12 18:27] wk commented on #171
Install `libicu` and `g++` system packages prior to installing oxidized-web so that charlock_holmes can build correctly.

[2018-06-13 06:19] hunnymonster commented on #171
Thanks, but they're already present and apparently up to date:

`root@netmon:~# apt install libicu-dev g++
Reading package lists... Done
Building dependency tree
Reading state information... Done
g++ is already the newest version (4:5.3.1-1ubuntu1).
libicu-dev is already the newest version (55.1-7ubuntu0.4).`

[2018-06-13 07:57] wk commented on #171
The installation instructions have been re-validated and updated to reflect this in ytti/oxidized#1383

[2018-06-13 08:03] #171 closed

[2018-07-27 19:20] fatman00 commented on #120
I have the same problem.

[2018-08-19 22:43] jameskirsop opened #173 "New `ArgumentError at /node/version` issue"
I'm having an issue similar to #38 but it seems to be manifiesting its self slightly differently.

For nodes within a new group I've just created, download and version history doesn't work:

[code]

My GET args are ```CAS/Netscaler```. The nodes causing this issue indicate an OK status in the `/nodes` list view.

All other groups seem to work OK, it's just this one named 'CAS'. The non-functioning

[2018-09-03 09:29] Quitz321 opened #174 "Memory usage after watching versions"
Hello

I seem to have issues with memory usage (managed to use all 8 gigs that i had available on my server). I am testing oxidized with approx. 5k devices and it all runs nicely until i use the oxi-web and click verions. It works nice and fast after having just started the oxidized but if there is more backups -everytime i click versions on one of the nodes the memory usage goes up. After full ro

[2018-09-18 05:11] jameskirsop commented on #173
This can probably be closed. Turns out there was a problem with the model fetching config for the device in this group (indicating it had success when in fact it hadn't) and as a result, no git file existed for the group.

It would probably be nice to have the web UI handle this a bit nicer with some pointers to what to check, but not important given it's likely a rare circumstance.

[2018-09-18 05:11] #173 closed

[2018-10-19 12:37] rickdonato opened #175 "Incorrect font for Refresh Button"
On the main page there is the string "refresh" next to the refresh icon.
This string needs to be simply removed to allow for a cleaner design.

Happy to submit the change myself as a new branch if you provide me access.

[2018-10-19 12:46] ytti commented on #175
No specific access is required, just clone and submit PR. Thanks!

[2018-11-30 06:12] REKVAhaz opened #176 "Get Diffs results in no available"
I am new to Oxidized, trying to track firewall configuration changes.

I am successfully fetching the configurations and storing them in local Git.

I have three versions of a configuration with differences between 1 and 2, 2 and 3 and nothing was restored making 1 and 3 identical (they are different).

Yet when I try to diff 1 and 3, I receive "no available" as a result.

------------------------

[2019-01-24 10:15] smart2128 opened #178 "Haml::TempleEngine: Option :outvar is invalid"
After 0.25.1 upgrade, oxidized issues 4 rows of the message in subject every time I switch between nodes, stats and migration pages.
Is there a way to suppress it?

Thank you in advance,
Vincenzo

[2019-02-12 07:37] #158 closed

[2019-02-14 21:22] jasgrider opened #179 "rb-notify version 0.10.0 needs Ruby 2.2.2 or newer"
Trying a new fresh install on a CentOS7 box and got this error when installing oxidized-web:

[code]
I searched for the previous version of rb-inotify and installed it, then successfully installed oxidized-web.

[code]

[code]

[code]

I assume that the reference for rb-inotify needs to be updated to lock in 0.9.10 for now similarly to #149 & #165.

I'll try to do a pull request for it to get that

[2019-02-20 16:36] jmcguir opened #180 "demo website is not available"
The website says bad gateway

[2019-02-20 16:36] jmcguir opened #181 "demo website for oxidized-web currently unreachable"

[2019-02-22 18:22] wk commented on #180
Duplicate of #181.

[2019-02-22 18:22] #180 closed

[2019-02-22 18:25] wk commented on #181
The demo website was previously operated by one of the contributors, @nopedial - perhaps he'd like to take a look at it or request it to be removed as stale if he no longer wishes to maintain it.

[2019-02-22 18:29] wk commented on #179
While oxidized aims to support 2.0+ out of the box, it is no longer recommended to run it on rubies older than 2.2.6. As CentOS is expected to release version 8 with a modern modern ruby interpreter within the next few months (currently in beta), it's likely that the supported version will be bumped to 2.4+ in the near future.

You're welcome to submit a (tested) version lock, and @ytti might have

[2019-02-28 10:06] naeemarsalan opened #182 "Stat Api Json Decode Hash array"
When the stats are accessed via nodes/stats.json it returns Nodes
{
"NodeName": "#<Oxidized::Node::Stats:0x00000001dcc228>",
....
}

How can I decode this value?

[2019-03-02 16:50] jaimefordham opened #183 "Feature Request - Extended Config Search"
Hi,

Would it be possible to have an Extended Config Search in Oxidized?

In other words when searching for config, instead of listing only the nodes where config is present it would be possible to specify:

Lines containing the config are displayed
X number of lines before and X number of lines after are also displayed

[2019-03-03 16:01] shusugmt opened #185 "/node/next/[NODE] endpoint is broken"
oxidized is properly setup and running. I could fetch a config from cumulus box.  For simplicity, I just put one cumulus router in the source, and using File output plugin.

When I try to use `/node/next/[NODE]` endpoint to trigger a new fetch, the oxidized process eats 100% CPU and starts producing the following logs in massive speed, and stops responding. I read the code around `lib/oxidized/wor

[2019-03-10 12:26] asdert2 opened #186 "Reload button doesn't work"
Hi!
Reload button doesn't work. Nothing happens when i press it. But for example Refresh button works.
I have noticed that Reload button works only several seconds after restarting oxidized process or oxidezed service (if running as service). While all my devices have blue status icon I can press Reload button and I can see "reloaded list of nodes". But after several seconds as soon as any of my d

[2019-03-10 16:55] asdert2 commented on #186
Just noticed that I can successfully reload router.db by manually going to http://192.168.1.10:8888/reload

[2019-03-15 20:19] bbrendon opened #187 "crashes when clicking on versions button"
I saw some other people this similar error but I can't get past it. Running the latest version from docker hub.  It's basically a fresh install.

ArgumentError at /node/version
wrong number of arguments (given 0, expected 1+)
file: versions.haml location: count line: 24

[code]

[code]

[2019-04-09 07:11] acederlund commented on #109
I'm not sure if this is related, but since I use file output and I'm having issue with search, I thought I'd leave a comment here.

When trying to search in conf files, I get this error:
[code]
Could this be related, or should I open up a new issue?

[2019-04-16 14:13] Alexanderis commented on #152
I think this happens because not all nodes have a configuration file stored.
I use HTML as source and when the node list is generated the app which generates it also checks if each node has a file and if there is none then a placeholder empty file is put in place.

This fixes the issue for me.

[2019-04-29 21:53] netops2devops opened #188 "REST API function to add new device(s) to Oxidized"
Greetings,

I'm trying to figure out if there's a way to do HTTP POST requests to oxidized-web to add new device(s) using the REST API. I currently do not see that functionality available over web interface. I am not a ruby programmer so in case if this is already available somewhere within webapp.rb then kindly guide me to the right URL to which I can make POST requests. Any help or pointers are

[2019-04-30 13:22] ytti commented on #188
There is not, we don't have any state stored between oxidized restarts currently, so adding this type of support would require first adding state of the devices.

[2019-04-30 16:09] netops2devops commented on #188
Thanks for your response. I'll close this issue now.

[2019-04-30 16:09] #188 closed

[2019-05-06 06:42] chitizs opened #190 "Restful Query for device configuration changes"
Hi Team,

I am trying to query my oxidized installation which stores Mikrotik router configurations from different period of time.  Is it possible to get changes( ie difference only) between two configs of a device stored at different period of time(say, one in 10:00 and other in 11:00)? I searched the documentation but could not find(restful queries).

Is it possible using Oxidized?

Regards,
Tiz

[2019-05-27 10:34] syrexjohnson opened #191 "Referencing vars_map in HAML templates"
Hi,

I'm looking to add a comments/description option to the oxidized-web interface.  Based on https://github.com/ytti/oxidized/issues/672 it seems this should be possible through the vars_map.

I've added to the sources block of the config
  vars_map:
    comment: 4

In the nodes.haml I added an extra column and tried to reference the field with #{node:[comment]}, but it is just blank.

Any ideas

[2019-06-07 14:56] Niolith opened #192 "Could we find last backup status with ruby script ?"
Hello,

I don't know if it's the good section to ask this, but i'm wondering if it's possible to determine in ruby script the last backup status of each device in our Oxidized ?

I check with Oxidized-script if it's possible to do that, but I didn't find anything interesting.

Thank you,

[2019-06-12 13:34] ryphta opened #193 "Leading asterisk in search fields causes RegexpError"
Some descriptions in config may start with "*"

Any string leading with * will kick back this error

RegexpError at /nodes/conf_search
target of repeat operator is not specified: /*/
file: webapp.rb location: initialize line: 51

[2019-06-14 10:27] szpajder opened #194 "convertTime() function breaks on non-English locale"
I have just encountered https://github.com/ytti/oxidized-web/issues/140 which is still present in 0.13.1. The root cause is:

[code]

When English locale are used, `date.toString()` evaluates to `"Fri Jun 14 2019 11:03:59 GMT+0200 (Central European Summer Time)"`, so the result of the above code is "CEST", as expected. But for example in Polish locale `date.toString()` yields `"Fri Jun 14 2019 11:

[2019-06-14 22:08] wk commented on #179
Official support has been bumped to 2.3, closing this.

[2019-06-14 22:08] #179 closed

[2019-06-26 11:32] syrexjohnson commented on #191
I did figure this out eventually.  I had to use #{node[:vars][:comment]}

[2019-06-26 11:32] #191 closed

[2019-07-29 13:00] andretlemos opened #197 "Unable to get diff version on oxidized-web with apache proxy"
Hi,

i'm trying to get diff version on git files between different versions, such as version 7 and version 2 and I'm get the error below:

Puma caught this error: can't modify frozen String (RuntimeError)
/usr/local/rvm/gems/ruby-2.3.8/gems/haml-5.1.1/lib/haml/parser.rb:205:in `gsub!'
/usr/local/rvm/gems/ruby-2.3.8/gems/haml-5.1.1/lib/haml/parser.rb:205:in `block in inspect'
/usr/local/rvm/gems/ru

[2019-07-30 19:41] hawson commented on #120
I think that this snippet helps?  It trivially works for me, but YMMV:

[code]

I think the root problem is parsing the dates form Git is failing.  The unchanged date string is, for example, `2019-07-30 15:10:39 -+0400`.  This is parsed into `2019-07-30T15:10:39+00:00`, which is incorrect (note the +00:00 TZ offset).

A simple tweak to the string that is parsed seems to work, at least in for negat

[2019-09-16 19:59] davama opened #198 "[Feature Request]: Possible to add some Label to top of page"
![Imgur](https://i.imgur.com/VFP4sRu.png)

Hello,

We running multiple oxidized instances and wondering if possible to add some label to the top of the webpage to distinguish between them?

It could be next to the "Oxidized" word/logo ¯\\\_(ツ)\_/¯

Thanks,
Dave

[2019-09-30 01:47] jameskirsop commented on #197
I'm also seeing this Puma dump when trying to access a new node's diff or latest version.

[2019-10-08 17:54] NatalNW opened #199 "CRUD Interface"
Why oxidized-web has not an interface to add, delete or edit a node saved on database?

[2019-10-08 18:26] ytti commented on #199
I think the simple answer is, because no one wrote it. But my answer is, I wouldn't even want it, I don't see Oxidized in centre of your orchestration, I don't see it as your source of truth, I see Oxidized as consumer of your source of truth.
So Oxidized has very good support of consuming arbitrary sources, where ever your truth may be, we should be able to support it.

There are quite many requi

[2019-10-08 19:53] NatalNW commented on #199
First, Thanks for the quick answer!

You wanna mean oxidized have to be used only as backup tool. And to management of nodes has to be done through some source of truth. So this make oxidized confident to be used.

[2019-10-09 07:44] ytti commented on #199
Yes. I mean you have tons of tolls for network, provisioning, monitoring, configuration backups, statistics etc. All of these need information about what devices you have, and all of these should consult same single source of truth. So you add device to one place, and every system knows about it. This is what we try to support well.

[2019-10-10 17:19] NatalNW commented on #199
Yes, of course, that's make sense. With a source of truth I'll be able to do a central point of management about my devices.
Could I use a tool to be my source of truth, like phpIPAM or NetBox?

[2019-10-10 18:16] ytti commented on #199
I'm not comfortable giving recommendation, I've always used something homegrown. What is right for given company/network depends lot on the constrains they currently have, what is realistic what is unrealistic.
What I view as right way to do things may be unrealistic given practical constrains companies have due to cultural or legacy reasons.

[2019-10-10 20:45] NatalNW commented on #199
I understand your point about the companies. A tool builded homegrown will attend better the needs of each company, but, on other hands, open source projects may be adapted given constraints they have.

[2019-11-05 13:16] chmutoff commented on #194
Hi. I have exactly the same issue. Is there any fix for it?

[2019-12-29 18:32] arddg commented on #186
Hi! Same problem here. Any ideas how to fix it?

[2019-12-31 11:12] arddg commented on #186
This solution fixed the problem for me:
https://github.com/ytti/oxidized-web/issues/194

[2019-12-31 11:13] arddg commented on #194
@szpajder, thank you very much! This solution fixed my Reload button!

[2020-01-24 14:07] BapRx commented on #192
Hi, you get that info with a simple ruby script:
[code]

[2020-03-16 18:50] #178 closed

[2020-03-18 19:57] davama opened #203 "[Potential Feature]: Dark Theme for oxidized-web"
@ytti

if you are interested, here are some screenshots of the settings i've come up with.
took inspiration from https://git.enlightenment.org/

![main page](https://i.imgur.com/IVYmguK.png)
![stats](https://i.imgur.com/g2LL8cs.png)
![versions](https://i.imgur.com/FW52Rfu.png)
![diffs](https://i.imgur.com/Izy4lzt.png)

[Dark-Theme](https://pastebin.com/raw/3fWfjyx2)

Let me know if you need more i

[2020-03-18 20:13] ytti commented on #203
Looks good to me, as long as it's integratable. I mean we shouldn't modify upstream bootstrap so any theme solution should use unmodified bootstrap file.

[2020-03-18 20:22] davama commented on #203
@ytti Thank you for the input.

Well, right now, as the project is, for this to work, it would have to replace the [oxidized_custom.css](https://github.com/ytti/oxidized-web/blob/master/lib/oxidized/web/public/css/oxidized_custom.css) file.

So maybe some `rest_theme: default/dark` option in the `config` file would do the trick

[2020-04-02 02:53] LibertineC commented on #197
I have the same problem
output:  git

Have you solved the problem?
`ArgumentError: wrong number of arguments (given 0, expected 1+)`

[2020-04-02 05:57] ytti commented on #197
This is duplicate of ytti/oxidized#2049

[2020-04-02 05:57] #197 closed

[2020-04-13 17:44] dnyt84 commented on #187
same problem.
Did you ever solve this?

[2020-04-14 06:59] ytti commented on #187
Duplicate of ytti/oxidized#2049

[2020-04-14 06:59] #187 closed

[2020-04-21 14:29] konax3 opened #204 "[Feature Request] - Global Stats"
Hello,
we are running an instance of oxidized with near to 1000 devices and for us it would be very useful to know the total number of failed devices.
For example en the main web, it could be a simple couple of numbers,  like 834/1000, where 834 it's the succesful devices of the total of 1000 or something like that.

Thank you so much.

[2020-04-24 02:40] nirisha-b opened #205 "XSS Vulnerability"
Hello,

Many scanning tools are still reporting XSS vulnerability. Below are two web views that are particularly popping up when scanned through Arachni scanner.

http://x.x.x.x:8888/node/version/diffs
http://x.x.x.x:8888/node/version/view

Thank you.

[2020-05-08 07:24] didawubo1 commented on #173
I also encountered the same problem, did you solve it

[2020-05-08 07:36] didawubo1 commented on #187
I also encountered the same problem, did you solve it？

[2020-05-15 13:47] mrplow87 opened #208 "Versions view broken"
After updating Oxidized(-web|-script) on Debian 9 and in a clean install on a fresh CentOS 8, clicking the version button in the list of hosts results in the following error:

Example URL: `https://192.0.2.1/node/version?node_full=GroupName/NodeName`

[code]

I've made sure that the node I'm trying to view has had an configuration update before trying to view the versions.

I've tried past oxidize

[2020-05-18 09:18] mrplow87 commented on #208
adding `&format=json` to the URL results in `"node not found"`

[2020-05-18 19:06] wk commented on #208
This has been resolved in version 0.28.0, in [this](https://github.com/ytti/oxidized/commit/d96a592be605149f8a4f8d45e8b35e1ed8f3049c) commit. Closing this issue as while valid, it's already been addressed on the ytti/oxidized#2049 and ytti/oxidized#2053 and a fix is available.

[2020-05-18 19:06] #208 closed

[2020-05-19 06:58] wk commented on #173
This should be resolved in version 0.28.0.

[2020-05-19 07:30] wk commented on #186
Should be closed by #210, thanks for troubleshooting this!

[2020-05-19 07:30] #186 closed

[2020-05-19 07:30] wk commented on #194
Should be closed by #210, thanks for troubleshooting this!

[2020-05-19 07:30] #194 closed

[2020-05-19 15:16] wk commented on #187
This is solved in 0.28.0

[2020-05-26 17:02] jarora11 opened #211 "Make show/hide column changes permanent"
Hello,

Is there a way to enable the IP column by default on the web app? Currently you need to toggle it on, in the show/hide columns button. But this seems to be relevant to the current session scope only. Is there a way to make it permanent? I tried looking for some config files in the web-app to make this permanent. But couldn't really find anything.

Thanks.

[2020-07-14 12:51] Atroskelis opened #212 "Problems with performance when gits have a large number of versions"
Oxidized-web 0.13.1
oxidized (0.28.0)

Pulling a revision via the web interface can take up to 10 minutes, a thing noticeable in LibreNMS as well.

Doing git gc on bare gits does not seem to improve performance.

I havent been able to see noticeable difference between a git with 83k versions and one with 23k versions. It still takes over 10 minutes.

Clicking on the versions button makes the whole

[2020-07-14 13:16] miff2000 opened #213 "New tag request"
Please could I ask for a new tag to be released for this?

I would like to use the changes in https://github.com/ytti/oxidized-web/pull/206 in the Docker image for Oxidized, but it presently pulls in an older version of the library `oxidized/web` library which doesn't include it

Thanks :)

[2020-07-15 13:48] miff2000 opened #214 "Why no command support via oxidized-web?"
I'm looking for a way to be able to execute commands against devices using the API, like I would using the `oxs` command provided in https://github.com/ytti/oxidized-script. It doesn't seem to be possible though.

Am I correct in my understanding here, or is there a method of running commands?

Assuming I am correct, would you be willing to accept a PR to extend `oxidized-web` to add an endpoint f

[2020-07-15 13:57] ytti commented on #214
I would probably accept, I'm not too sensitive on oxidized-web changes. But oxidized proper changes should be cleanish.

[2020-07-15 14:02] miff2000 commented on #214
I'll aim to get something built and tested then :) Thansk!

[2020-07-15 14:02] #214 closed

[2020-08-15 14:06] wk commented on #213
@ytti I don't think there are any blockers to cutting a release

[2020-09-23 17:52] danpoltawski opened #215 "jQuery Upgrade"
According to https://www.cvedetails.com/vulnerability-list/vendor_id-6538/product_id-11031/version_id-286384/Jquery-Jquery-2.1.1.html jQuery 2.1.1 has two CVE's against it and the the bundled jquery comes up in automated vulnerability scanning.

It would be good if this could be upgraded

[2020-09-30 18:23] miff2000 commented on #214
One of my colleagues has had the time to put a PR in for this here: https://github.com/ytti/oxidized-web/pull/216

[2021-01-14 16:30] Bencamelas opened #218 "Sync status: no_connection"
Hello, checking the rust configuration I get the following information, however the router.db file already has the device information, this is because

![image](https://user-images.githubusercontent.com/77454191/104619412-d4f87f00-565b-11eb-974d-fba58ad38342.png)

I do not know if it is due to a bad configuration of the snmp, although I do not believe that everything else if you let me observe it

[2021-01-29 07:50] danpoltawski commented on #215
I started hacking together a patch for this

https://github.com/ytti/oxidized-web/compare/master...TNP-Ltd:wip-jquery-upgrade

[2021-02-06 14:38] amshikov opened #219 "Unable to run oxidized with web"
Hello!

I have fresh install of oxidized from ports on FreeBSD 12.2-RELEASE. I'm unable to run it with web, oxidized throws an error:

I, [2021-02-06T16:24:32.543285 #9425]  INFO -- : lib/oxidized/nodes.rb: Loaded 1 nodes

F, [2021-02-06T16:24:32.557666 #9425] FATAL -- : Oxidized crashed, crashfile written in /var/db/oxidized/.config/oxidized/crash
oxidized-web not found: sudo gem install oxidized

[2021-02-15 23:07] joaodiogo123 opened #220 "oxidized-web in iframe"
Hello,

I want to show the Oxidized web frontend in an iframe, but I keep getting the message <oxidized-web-URL> refused to connect.
Can anybody help me with this?

[2021-02-15 23:33] joaodiogo123 commented on #220
As per: [https://stackoverflow.com/questions/65675367/iframe-website-refused-to-connect-x-frame-options-is-deny](url) , the "problem" seems to be related with the X-Frame-Options being set to DENY. Which Sinatra does by default [().](https://stackoverflow.com/questions/7840613/how-do-i-get-sinatra-to-refrain-from-adding-the-x-frame-options-header)

As stated in the last link the solution would be

[2021-02-15 23:35] #220 closed

[2021-02-15 23:35] joaodiogo123 commented on #220
This seems to be solved as stated above.

[2021-03-16 16:16] githubuser5842 opened #221 "Not Able to View Versions"
When clicking the version button i am presented with the following error

"ArgumentError at /node/version
wrong number of arguments (given 0, expected 1+)"

I am running Oxidized v.0.28.0

[2021-03-16 18:06] #221 closed

[2021-05-06 16:33] ctrowat opened #222 "Querying `/node/stats?format=json` does not properly serialize the node stats"
When making a GET request to the specified endpoint node stats are not returned correctly.  Instead I get a response like this:

[code]

[2021-05-24 10:01] gjvdlee commented on #109
I have the same error as acederlund above. Is there any solution known?

Thank you.

[2021-06-04 11:29] mozmozmoz commented on #182
This issue has been solved for you?
I have the same problem..

[2021-07-29 14:34] ricardo-nogueira-ambrosio commented on #120
It may not be the prettiest way, but I noticed that in my case, the diff was in a +3 hours shift. So, after a couple trial and error attempt, I just subtracted "3” to the hh variable before the date return.

[code]

This is the part of code I altered.

[code]
I had just made a config change and instead of 0 hours, it was showing 3 hours.

![Before](https://user-images.githubusercontent.com/1368669

[2021-12-16 09:04] hfw1674 opened #225 "last changed“modifiy to localtime and timezone"
“last changed“modifiy to local timezone CST
local timezone CST
![image](https://user-images.githubusercontent.com/24293072/146340970-80faedfd-d802-4a9f-afb7-f0781ee3b56c.png)

Trigger condition：
When the number of nodes is greater than 100。

probe:
![image](https://user-images.githubusercontent.com/24293072/146340763-766ba35f-854a-48a3-bab3-a537bf8ee483.png)
![image](https://user-images.githubuser

[2022-01-05 11:44] tuxis-ie commented on #219
I just fixed this (on Debian Buster) by uninstalling oxidized and deps, and then removing the /root/.gem directory and reinstall oxidized. For me, an upgrade of Debian changed some Ruby versions and I think because of caching in the .gem directory, gem kept reinstalling an incorrect version of the gem (but I'm no Ruby expert).

[2022-03-30 13:46] Karatist18 opened #226 "Doesn't handle updating timestamp after first click"
Doesn't handle updating the timestamp after the first click. Apparently the problem is in the function $('.paginate_button').on('click', function() {
in oxidized.js. If there are several device pages, then the second click does not call the convertTime() function when moving to the next page. Please help
![image](https://user-images.githubusercontent.com/68351148/160854019-8bba11c1-32b4-483c-badd-

[2022-04-04 09:41] #226 closed

[2022-04-22 12:33] fernandolcx commented on #222
same here

[2022-04-22 12:48] einsibjarni opened #227 "wrong number of arguments (given 2, expected 1) when using ruby 3.0"
OS: FreeBSD 12.3
Version: 0.13.1

FreeBSD ports has replaced ruby27 with ruby30 as default ruby version. After rebuilding all ports and trying to run oxidized we get this error:
[code]

I can patch around it with this patch:
[code]
I have *no* ruby experience so I have no idea if this is the correct way to fix this, but oxidized runs after this change.
I'll leave it to smarter people than me to im

[2022-07-10 09:31] spinoshi opened #229 "show when a line was inserted in oxidized-web"
Hello,

would it be possible to show the commit that inserted a specific line of configuration in oxidized-web?
Something like the blame in gitlab.
I am asking because the diff functionality in oxidized-web is way more usable than the one in gitlab, but this additional functionality would be very useful.
I am migrating from rancid to oxidized and this is present in Rancid (named annotate)

Thanks

[2022-07-25 22:26] Firefishy opened #230 "oxidized.arahant.net domain expired"
On visiting http://oxidized.arahant.net/ it appears to be have taken over by a domain squatter.

The `arahant.net` domain appears to have expired a few days ago.

[2022-07-25 22:31] Firefishy commented on #230
Linked: https://github.com/ytti/oxidized-web/issues/181

[2022-08-16 00:42] Chrus3 opened #231 "-"
Edit: posted against wrong project.
please disregard

[2022-08-16 01:54] #231 closed

[2022-09-21 12:34] fbouynot commented on #213
Hi, would it still be possible to tag this please?
It would make integration with LibreNMS faster on some tasks.

[2022-11-12 10:48] bsiege opened #232 "escape_once gone in Ruby3"
come from [FreeBSD issue](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=267327) where haml is updated from 5 to 6 and ruby to 3. Had to replace "escape_once" with "escape_html" works for me, not shure if that is the correct way to fix.